{{#if this.fastboot.isFastBoot}}
  <LoadingCube @position='fixed' />
{{else}}
  {{#each this.translation.languages as |lang|}}
    <a
      href={{href-to 'home' lang.id}}
      {{on 'click' (fn this.onLanguageClick lang.id)}}
    >
      {{markdown (translate 'index.continue' lang.id)}}
    </a>
  {{/each}}
{{/if}}