i.icon {
  picture {
    display: block;
    height: auto;

    @include widescreen {
      width: px(4.5vw);
      height: px(4.5vw);
    }
    @include desktop {
      width: 4.5vw;
      height: 4.5vw;
    }
    @include tablet {
      width: 8.8vw;
      height: 8.8vw;
    }
    @include mobile {
      width: 13vw;
      height: 13vw;
    }

    i.load-spinner {
      transform: scale(0.7);
    }
  }
}
