li.feed-item {
  background: #eee;
  padding: 10px;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: 20px;

  input,
  textarea {
    max-width: 100%;
    min-width: 100%;
    background: white;
    border: 1px solid #bbb;
    font-size: 16px;
    line-height: 24px;
  }

  label {
    font-size: 16px;
    line-height: 24px;
  }
}
