<Page @id="product-family">
  <Header />

  <nav
    id="breacrumbs"
    aria-label="breadcrumbs"
  >
    <ol>
      <li>
        <a href="/en/">Interflux</a>
        <Svg::ArrowRight />
      </li>
      <li>
        <a href="/en/products">Products</a>
      </li>
    </ol>
  </nav>

  <main aria-labelledby="p">
    <p id="p">error</p>
  </main>

  <Footer />
</Page>