main#webinars {
  h1 {
    font-family: $extrabold;
    color: white;
    line-height: 100%;
    text-align: center;
    @include widescreen {
      font-size: 40px;
    }
    @include desktop {
      font-size: vw(40px);
    }
    @include tablet {
      font-size: 40px;
    }
    @include mobile {
      font-size: 40px;
    }
  }

  h2 {
    font-family: $light;
    line-height: 100%;
    color: $grey-7;
    text-align: center;
    @include widescreen {
      font-size: 30px;
      margin-bottom: 80px;
    }
    @include desktop {
      font-size: vw(30px);
      margin-bottom: vw(80px);
    }
    @include tablet {
      font-size: 30px; // TODO
      margin-bottom: 80px; // TODO
    }
    @include mobile {
      font-size: 30px; // TODO
      margin-bottom: 80px; // TODO
    }
  }

  #hero {
    position: relative;
    overflow: hidden;
    .liner {
      position: relative;
      z-index: 2;
      max-width: 1200;
      background-image: url('#{$cdn}/images/public/hero-circuit-boards-green-2@1200x320.jpg');
      background-size: cover;
      @include widescreen {
        padding: 120px 0;
      }
      @include desktop {
        padding: vw(120px) 0;
      }
      @include tablet {
        padding: 120px 0; // TODO
      }
      @include mobile {
        padding: 120px 0; // TODO
      }
    }
    .blur {
      position: absolute;
      z-index: 1;
      background-image: url('#{$cdn}/images/public/hero-circuit-boards-green-2@1200x320.jpg');
      background-size: 100% 100%;
      left: -20px;
      right: -20px;
      top: -20px;
      bottom: -20px;
      filter: blur(10px);
    }
  }

  #upcoming,
  #past {
    @include widescreen {
      padding: 80px 0;
    }
    @include desktop {
      padding: vw(80px) 0;
    }
    @include tablet {
      padding: 80px 0; // TODO
    }
    @include mobile {
      padding: 80px 0; // TODO
    }
  }

  #upcoming {
    h2 + p {
      text-align: center;
      @include widescreen {
        margin-bottom: 80px;
      }
      @include desktop {
        margin-bottom: vw(80px);
      }
      @include tablet {
        margin-bottom: 80px; // TODO
      }
      @include mobile {
        margin-bottom: 80px; // TODO
      }
    }
    #cta {
      position: relative;
      display: flex;
      margin: 0 auto;
      @include widescreen {
        width: 640px;
        padding: 40px 0;
      }
      @include desktop {
        width: vw(640px);
        padding: vw(40px) 0;
      }
      @include tablet {
        width: 640px; // TODO
        padding: 40px 0; // TODO:
      }
      @include mobile {
        width: 640px; // TODO
        padding: 40px 0; // TODO:
      }
      &:after {
        content: '';
        position: absolute;
        left: calc(50% - 0.5px);
        top: 0;
        width: 1px;
        height: 100%;
        background-image: url('#{$cdn}/images/public/dash-vertical.svg');
      }
      #suggest,
      #subscribe {
        flex: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4,
        p {
          color: $grey-7;
          @include widescreen {
            font-size: 16px;
          }
          @include desktop {
            font-size: vw(16px);
          }
          @include tablet {
            font-size: 16px; // TODO
          }
          @include mobile {
            font-size: 16px; // TODO
          }
        }
        h4 {
          font-family: $bold;
        }
        p {
          @include widescreen {
            margin: 20px 0;
            width: 230px;
          }
          @include desktop {
            margin: 20px 0;
            width: vw(230px);
          }
          @include tablet {
            margin: 20px 0;
            width: 230px; // TODO
          }
          @include mobile {
            margin: 20px 0;
            width: 230px; // TODO
          }
        }
      }
    }
  }

  #past {
    background: $grey-0;
    ul {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-image: url('#{$cdn}/images/public/dash-horizontal.svg');
      }
      li {
        display: flex;
        justify-content: center;
        position: relative;
        .video,
        .info {
          flex: 1;
          @include widescreen {
            padding: 60px;
            max-width: 400px;
          }
          @include desktop {
            padding: vw(60px);
            max-width: vw(400px);
          }
          @include tablet {
            padding: 60px; // TODO
            max-width: 400px; // TODO
          }
          @include mobile {
            padding: 60px; // TODO
            max-width: 400px; // TODO
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
        h3 {
          font-family: $semibold;
          font-size: 16px;
          line-height: 27px;
          height: 27px;
          color: white;
          background-color: $blue-3;
          padding: 0 5px;
          display: flex;
          align-items: center;
          position: relative;
          @include widescreen {
            margin-top: 40px;
          }
          @include desktop {
            margin-top: vw(40px);
          }
          @include tablet {
            margin-top: 40px; // TODO
          }
          @include mobile {
            margin-top: 40px; // TODO
          }
          time {
            line-height: 100%;
          }
          &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 9px solid transparent;
            border-bottom: 9px solid transparent;
            border-right: 11px solid $blue-3;
            left: -11px;
            top: 4.5px;
          }
        }
        h4 {
          color: white;
          display: flex;
          flex-wrap: wrap;
          span {
            font-family: $extrabold;
            font-size: 20px;
            line-height: 27px;
            height: 27px;
            &:nth-child(odd) {
              background-color: $blue-3;
              padding: 0 5px;
              margin: 4px -5px 0 0;
            }
            &:nth-child(even) {
              width: 0;
            }
            time {
              font-family: $semibold;
              font-size: 16px;
              line-height: 31px;
            }
          }
        }
        .vertical-line {
          background: $grey-2;
          position: absolute;
          width: 2px;
          height: 100%;
          left: 50%;
          top: 0;
        }
        .dashed-line {
          background-image: url('#{$cdn}/images/public/dash-horizontal.svg');
          position: absolute;
          height: 1px;
          width: 100%;
          left: 0;
          top: 0;
        }
        .dot {
          position: absolute;
          width: 16px;
          height: 16px;
          border: 3px solid $grey-2;
          background: $grey-0;
          left: 50%;
          top: 106px;
          border-radius: 50%;
          transform: translateX(-7px);
          box-sizing: border-box;
        }
      }
    }
  }
}
