// Usage:
// @include paragraph;
// @include paragraph(0.8);
@mixin paragraph($scale: 1) {
  font-family: $regular;
  color: $paragraph-color-2;
  line-height: 180%;
  margin: 0;
  @include widescreen {
    font-size: px(1.333vw * $scale);
    max-width: px(57vw); // wider would be uncanny to read
  }
  @include desktop {
    font-size: 1.333vw * $scale;
    max-width: 57vw; // wider would be uncanny to read
  }
  @include tablet {
    font-size: 2.4vw * $scale;
  }
  @include mobile {
    font-size: 4.1vw * $scale;
  }
}

// Usage:
// @include light-heading;
// @include light-heading(0.8);
@mixin light-heading($scale: 1) {
  font-family: $light;
  color: $paragraph-color-1;
  line-height: 150%;
  text-align: center;
  @include widescreen {
    font-size: px(2.6vw * $scale);
  }
  @include desktop {
    font-size: 2.6vw * $scale;
  }
  @include tablet {
    font-size: 4.6vw * $scale;
  }
  @include mobile {
    font-size: 7.4vw * $scale;
    line-height: 160%;
  }
}

// Usage:
// @include bold-sub-heading;
// @include bold-sub-heading(0.8);
@mixin bold-sub-heading($scale: 1) {
  font-family: $bold;
  color: $paragraph-color-1;
  line-height: 150%;
  text-align: left;
  @include widescreen {
    font-size: px(1.45vw * $scale);
  }
  @include desktop {
    font-size: 1.45vw * $scale;
  }
  @include tablet {
    font-size: 2.7vw * $scale;
  }
  @include mobile {
    font-size: 4.6vw * $scale;
    line-height: 160%;
  }
}
