#contact {
  #search {
    background-color: $grey-0;

    .liner {
      display: flex;
      flex-direction: column;
      @include widescreen {
        max-width: 900px;
        padding: 100px 30px;
      }
      @include desktop {
        max-width: vw(900px);
        padding: vw(100px) vw(30px);
      }
      @include tablet {
        padding: 14vw 5vw;
      }
      @include mobile {
        padding: 28vw 8vw;
      }
    }

    h2 {
      @include widescreen {
        margin-bottom: 30px;
        line-height: 100%;
      }
      @include desktop {
        margin-bottom: vw(30px);
        line-height: 100%;
      }
      @include tablet {
        margin-bottom: 3vw;
        line-height: 100%;
      }
      @include mobile {
        margin-bottom: 3vw;
      }
    }

    .text-input {
      align-self: flex-start;
      @include widescreen {
        margin: 12px 0 30px;
      }
      @include desktop {
        margin: vw(12px) 0 (30px);
      }
      @include tablet {
        margin: 3vw 0;
      }
      @include mobile {
        margin: 4vw 0 8vw;
      }
    }

    h3 {
      font-family: $bold;
      color: white;
      background-color: $blue-3;
      line-height: 135%;
      @include widescreen {
        font-size: 16px;
        padding: 0 4px;
      }
      @include desktop {
        font-size: vw(16px);
        padding: 0 vw(4px);
      }
      @include tablet {
        font-size: vw-tablet(16px);
        padding: 0 vw-tablet(4px);
      }
      @include mobile {
        font-size: vw-mobile(16px);
        padding: 0 vw-mobile(4px);
      }
    }

    mark {
      background: yellow;
    }

    .companies {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      @include widescreen {
        gap: 5px;
      }
      @include desktop {
        gap: vw(5px);
      }
      @include tablet {
        gap: vw-tablet(5px);
      }
      @include mobile {
        gap: 2vw;
        width: 96vw;
        margin-left: -6vw;
      }
      a {
        background: white;
        border-radius: 3px;
        border: 1px solid $grey-1;
        display: flex;
        align-items: center;
        transition: box-shadow 200ms ease;
        white-space: normal; // override <Button> default
        text-align: left; // override <Button> default
        position: relative;
        @include widescreen {
          padding: 14px;
          gap: 10px;
        }
        @include desktop {
          padding: vw(14px);
          gap: vw(10px);
        }
        @include tablet {
          padding: 1.5vw 2.5vw;
          gap: vw-tablet(10px);
        }
        @include mobile {
          flex-direction: column;
          align-items: flex-start;
          padding: 6vw;
          gap: vw-mobile(10px);
        }
        &:hover,
        &:focus {
          border-color: $blue-0;
          box-shadow: 0 2px 4px rgba(black, 0.15);
          [fill] {
            fill: $blue-0;
          }
        }
      }
    }

    .company {
      flex: 1;
      display: flex;
    }

    .country {
      flex: 0.6;
      display: flex;
      align-items: center;
      @include widescreen {
        gap: 10px;
      }
      @include desktop {
        gap: vw(10px);
      }
      @include tablet {
        gap: vw-tablet(10px);
      }
      @include mobile {
        gap: vw-mobile(10px);
      }
      img {
        height: auto;
        @include mobile {
          width: 6.75vw; // to make the flag as wide as the avatars
        }
      }
    }

    .members {
      flex: 1;
      ul {
        display: flex;
        flex-direction: column;
        @include widescreen {
          gap: 10px;
        }
        @include desktop {
          gap: vw(10px);
        }
        @include tablet {
          gap: vw-tablet(10px);
        }
        @include mobile {
          gap: vw-mobile(10px);
        }
      }
      li {
        display: flex;
        align-items: center;
        @include widescreen {
          gap: 10px;
        }
        @include desktop {
          gap: vw(10px);
        }
        @include tablet {
          gap: vw-tablet(10px);
        }
        @include mobile {
          gap: vw-mobile(10px);
        }
      }
      img {
        border-radius: 50%;
        @include widescreen {
          width: 27px;
          height: 27px;
        }
        @include desktop {
          width: vw(27px);
          height: vw(27px);
        }
        @include tablet {
          width: vw-tablet(27px);
          height: vw-tablet(27px);
        }
        @include mobile {
          width: vw-mobile(27px);
          height: vw-mobile(27px);
        }
      }
    }

    .arrow {
      @include mobile {
        position: absolute;
        top: 0;
        right: 4vw;
        height: 100%;
        display: flex;
        align-items: center;
      }
      svg {
        width: auto;
        @include widescreen {
          height: 10px;
        }
        @include desktop {
          height: vw(10px);
        }
        @include tablet {
          height: vw-tablet(10px);
        }
        @include mobile {
          height: vw-mobile(10px);
        }
        [fill] {
          fill: $grey-5;
        }
      }
    }
  }
}
