nav#breadcrumbs {
  position: relative;
  height: 70px;
  background-color: $blue-3;
  background-image: url('#{$cdn}/images/temporary/public-products-page-hero.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 30px;
  &:after {
    content: '';
    background: linear-gradient(to right, rgba($blue-3, 1), rgba($blue-3, 0));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  ol {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    li {
      display: flex;
      align-items: center;
      & + li {
        margin-left: 20px;
      }
    }
  }
  a {
    color: white;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  p {
    color: white;
  }
  svg {
    height: 9px;
    width: auto;
    margin-left: 20px;
    [fill] {
      fill: white;
    }
  }
}
