<Page @id="documents">
  <Header />

  <Section @class="temporary">
    <h3>What type of document?</h3>
    <ul>
      {{#each @model.categories as |category|}}
        <li>
          <Button::Route
            @route="documents.category"
            @model={{category.slug}}
            @text={{category.name}}
            @size="medium"
            @style="grey-border"
          />
        </li>
      {{/each}}
    </ul>
  </Section>

  <Footer />
</Page>