<Page @id="documents">
  <Section @class="temporary">
    <Button::Route
      @route="home"
      @text="Back"
      @size="small"
      @style="blue-2"
    />
    <h1>Documents</h1>
    <ul>
      {{#each @model.categories as |category|}}
        <li>
          <Button::Route
            @route="documents.category"
            @model={{category.slug}}
            @text={{category.name}}
            @size="medium"
            @style="grey-border"
          />
        </li>
      {{/each}}
    </ul>
  </Section>
</Page>