<div
  id="{{@id}}"
  class="modal{{if @class (concat ' ' @class)}}"
>
  <div class="overlay">
    <LinkTo @route={{parentRoute}}></LinkTo>
  </div>
  <div class="content">
    <div class="box">
      {{yield}}
    </div>
  </div>
</div>