#processes.page {
  background: $grey-0;
  #intro {
    .liner {
      width: 50vw;
      padding: 8vw 0;
    }
    h1 {
      width: 80%;
      margin: 0 auto;
      @include light-heading;
      margin-bottom: 4vw;
    }
    p {
      margin-top: 2vw;
    }
  }

  #list {
    .liner {
      width: 68vw;
      border-top: 1px solid #ddd;
    }
    p {
      text-align: center;
      margin: 5vw 0;
    }
    a {
      position: relative;
      display: flex;
      align-items: center;
      padding: 5vw 2vw;
      width: 100%;
      overflow: hidden;
      margin-bottom: 4vw;
      border-radius: 0;
      box-shadow: 0 2px 3px rgba(black, 0.2);
      background: white;
      transition: transform ease 200ms;

      &:hover {
        transform: scale(1.05);
      }
      > div {
        position: relative;
        z-index: 2;
        display: flex;
        background: white;
        align-items: center;
        padding: 0.6vw;
        padding-right: 0;
      }
      h2 {
        @include light-heading(0.8);
        margin: 0 2vw;
      }
      picture.bg {
        position: absolute;
        z-index: 1;
        min-width: 100%;
        min-height: 100%;
        left: 0;
        top: 0;

        // TEMP
        top: -250%;
        width: 200%;
        left: -10%;

        &#wave-soldering {
          top: -240%;
          width: 200%;
          left: -20%;
        }
        &#selective-soldering {
          top: -58%;
          width: 100%;
          left: 0%;
        }
        &#stencil-printing {
          top: -194%;
          width: 120%;
          left: -20%;
        }
        &#hand-soldering {
          top: -80%;
          width: 100%;
          left: 0%;
        }
        &#robot-soldering {
          top: -70%;
          width: 70%;
          left: 34%;
          min-width: auto;
          min-height: auto;
          &:after {
            content: ' ';
            background: white;
            position: absolute;
            top: 0;
            left: 0;
            width: 11vw;
            height: 100%;
          }
        }
        &#laser-soldering {
          top: -4%;
          width: 60%;
          left: 51%;
          min-width: auto;
          min-height: auto;
        }
        &#OSP-soldering {
          top: -100%;
          width: 130%;
          left: -10%;
        }
        &#pre-tinning {
          top: -90%;
          width: 120%;
          left: -10%;
        }
      }
    }
  }
}
