#processes.page {
  background: $grey-0;
  #intro {
    .liner {
      @include widescreen {
        padding: px(8vw) 0;
      }
      @include desktop {
        padding: 8vw 0;
      }
      @include tablet {
        padding: 14vw 6vw;
      }
      @include mobile {
        padding: 15vw 6vw;
      }
    }
    h1 {
      margin: 0 auto;
      @include light-heading;
    }
    p {
      text-align: center;
      @include widescreen {
        margin: px(3vw) auto 0;
        max-width: px(58vw);
      }
      @include desktop {
        margin: 3vw auto 0;
        max-width: 58vw;
      }
      @include tablet {
        margin: 4vw 0 0;
      }
      @include mobile {
        margin: 6vw 0 0;
      }
    }
  }

  #list {
    a {
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;
      border-radius: 0;
      background: white;
      transition: transform ease 200ms;
      border-radius: 0;
      padding: 0;
      &:hover {
        transform: scale(1.05);
      }
      @include widescreen {
        width: px(80vw);
        margin: 0 auto px(4vw);
        box-shadow: 0 px(0.5vw) px(1vw) rgba(black, 0.2);
        justify-content: flex-start;
      }
      @include desktop {
        width: 80vw;
        margin: 0 auto 4vw;
        box-shadow: 0 0.5vw 1vw rgba(black, 0.2);
        justify-content: flex-start;
      }
      @include tablet {
        justify-content: center;
        margin-bottom: 1vw;
      }
      @include mobile {
        justify-content: center;
        margin-bottom: 1vw;
      }
      .title {
        position: absolute;
        z-index: 2;
        display: flex;
        background: white;
        align-items: center;
        padding-right: 0 !important;
        @include widescreen {
          padding: px(0.6vw);
          margin-left: px(3vw);
        }
        @include desktop {
          padding: 0.6vw;
          margin-left: 3vw;
        }
        @include tablet {
          padding: 1.2vw;
        }
        @include mobile {
          padding: 1vw;
        }
        h2 {
          @include light-heading(0.8);
          @include widescreen {
            margin: 0 px(2vw);
          }
          @include desktop {
            margin: 0 2vw;
          }
          @include tablet {
            margin: 0 3vw;
          }
          @include mobile {
            margin: 0 3vw;
          }
        }
      }
      .bg {
        //
      }
    }
  }
}
