.pills {
  display: flex;
  @include widescreen {
    gap: 10px;
  }
  @include desktop {
    gap: vw(10px);
  }
  @include tablet {
    // TODO
  }
  @include mobile {
    gap: 3vw;
  }
  &.horizontal {
    flex-direction: row;
    justify-content: flex-start;
  }
  &.vertical {
    flex-direction: column;
    align-items: flex-start;
  }
}
