<Page @id="product-loading">
  <Header />

  <main>
    <Breadcrumbs @crumbs={{array
      (hash label='Interflux' route='home')
      (hash label='Products' route='home.products')
      (hash label="Loading ...")
    }} />

    <article>
      <LoadingSpinner @message="Loading ..." />
    </article>
  </main>

  <Footer />
</Page>