{{#with @model as |webinar|}}
  <Modal @id='watch-webinar' @theme='white-text'>
    <h1>Webinar replay</h1>
    <p>{{webinar.title}}</p>
    <ResponsiveVideo @video={{webinar.video}} />
  </Modal>
{{/with}}
