body {
  font-family: 'Rubik', sans-serif;
}

ul a {
  /* text-decoration: none; */
}

nav {
  margin: 100px 0;
}

#app {
  max-width: 360px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
}

body {
  background: #eee;
}

img {
  display: block;
  margin: 0 auto;
}
