.process.page {
  #subnav {
    overflow: scroll;
    background: $grey-0;
    display: flex;
    .liner {
      padding: 30px;
      max-width: none;
      display: flex;
    }
    nav {
      display: flex;
    }
    a {
      background: $grey-1;
      color: #696969;
      font-size: 13px;
      line-height: 24px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      & + a {
        margin-left: 4px;
      }
      &:first-child {
        margin-right: 25px;
        svg {
          transform: rotate(180deg);
          height: 4px;
          width: 6px;
          margin-right: 5px;
          [fill] {
            fill: #596979;
          }
        }
      }
    }
  }

  #hero {
    background: $grey-0;
    display: flex;
    justify-content: center;
    padding: 0 0 30px;
    img {
      width: 960px;
      height: 360px;
      box-shadow: 0 3px 8px RGBA(0, 0, 0, 0.2);
    }
  }

  section.text {
    .icon-label {
      display: flex;
      align-items: center;
      & + * {
        margin-top: 30px;
      }
      .icon {
        margin-right: 20px;
      }
    }
    h1 {
      @include light-heading;
    }
    h2 {
      @include bold-sub-heading;
      margin-bottom: 4vw;
    }
    p {
      @include paragraph;
    }
  }
}
