#products-subset.page {
  main {
    background: $grey-0;
    .liner {
      max-width: 1150px;
      padding: 30px;
      margin: 0 auto;
      .columns {
        display: flex;
      }
    }
  }

  article {
    background: white;
    box-shadow: 0 4px 8px rgba(black, 0.1);
    width: 800px;
    h1 {
      font-family: $extrabold;
      font-size: 36px;
      line-height: 100%;
      padding: 60px;
      border-bottom: 1px solid $grey-1;
      color: $blue-3;
    }
    .view {
      &.hide {
        overflow: hidden;
        height: 0;
      }
    }
    .intro {
      padding: 60px;
      .title {
        display: flex;
        align-items: center;
        .icon {
          flex-shrink: 0;
          picture {
            display: block;
            height: auto;
            flex-shrink: 0;
            @include widescreen {
              width: px(5vw);
              height: px(5vw);
              margin-right: px(2vw);
            }
            @include desktop {
              width: 5vw;
              height: 5vw;
              margin-right: 2vw;
            }
            @include tablet {
              width: 8vw;
              height: 8vw;
              margin-right: 3vw;
            }
            @include mobile {
              width: 12vw;
              height: 12vw;
              margin-right: 5vw;
            }
          }
        }
      }
      h2 {
        font-family: $light;
        font-size: 30px;
        line-height: 48px;
        color: $grey-7;
        & + p {
          margin-top: 20px;
        }
      }
      p {
        font-family: $regular;
        font-size: 16px;
        line-height: 24px;
        color: $grey-7;
      }
    }
  }

  aside {
    width: 320px;
    flex-shrink: 0;
    margin-right: 30px;
    .sticky {
      padding: 20px;
      border: 1px solid #e3e3e3;
      position: sticky;
      top: 30px;
      bottom: 0;
    }
    fieldset {
      padding: 0;
      border: 0;
      margin: 0;
      & + fieldset {
        margin-top: 30px;
      }
    }
    legend {
      font-size: 16px;
      font-family: $bold;
      color: #444;
      margin-bottom: 16px;
    }
    #search {
      position: relative;
      z-index: 2;
    }
    #group-by {
      position: relative;
      z-index: 1;
      .buttons {
        display: flex;
        button {
          position: relative;
          z-index: 1;
          flex: 1;
          background: none;
          line-height: 40px;
          border: 1px solid $grey-2;
          color: $grey-7;
          cursor: pointer;
          &:hover,
          &:focus,
          &.active {
            color: $blue-0;
            border-color: $blue-0;
            z-index: 2;
          }
          &.active {
            box-shadow: inset 0 0 0 1px $blue-0;
            font-family: $semibold;
            z-index: 2;
          }
          &:focus {
            outline: 0;
          }
          &:first-child {
            border-radius: 3px 0 0 3px;
            margin-right: -1px;
          }
          &:last-child {
            border-radius: 0 3px 3px 0;
            margin-left: -1px;
          }
        }
      }
    }
    .checkbox-group {
      display: flex;
      align-items: center;
      & + .checkbox-group {
        margin-top: 12px;
      }
      .checkbox {
        flex-shrink: 0;
      }
      label {
        margin: 0 0 0 12px;
        line-height: 20px;
      }
    }
  }
}
