a.product-tiles {
  position: relative;
  h2 {
    position: absolute;
    z-index: 1;
    background: $blue-3;
    color: white;
    top: 10px;
    left: 10px;
    font-size: 24px;
    padding: 3px 7px;
  }
  h3 {
    position: absolute;
    z-index: 1;
    background: $blue-0;
    color: white;
    top: 43px;
    left: 10px;
    font-size: 15px;
    padding: 3px 7px;
  }
  figure {
    width: 300px;
    height: 300px;
    figcaption {
      display: none;
    }
  }
  img.blank {
    width: 300px;
    height: auto;
    filter: grayscale(1) brightness(3);
  }
}
