main#company {
  background: white;
  @include widescreen {
    padding-bottom: 150px;
  }
  @include desktop {
    padding-bottom: vw(150px);
  }
  @include tablet {
    padding-bottom: 10vw;
  }
  @include mobile {
    padding-bottom: 10vw;
  }
  #iso,
  #pioneer,
  #durable,
  #support {
    .liner {
      display: flex;
      @include tablet {
        padding: 0 5vw;
        flex-direction: column;
      }
      @include mobile {
        flex-direction: column;
        padding: 10vw 5vw;
      }
      max-width: 900px;
      justify-content: space-between;
      align-items: center;
      > * + * {
        @include widescreen {
          margin-left: px(4.1666vw);
        }
        @include desktop {
          margin-left: 4.1666vw;
        }
      }
    }
    & + section {
      @include widescreen {
        margin-top: px(8.333vw);
      }
      @include desktop {
        margin-top: 8.333vw;
      }
    }
    img {
      @include tablet {
        max-width: 100vw;
        height: auto;
      }
      @include mobile {
        max-width: 100vw;
        height: auto;
      }
    }
    .text {
      h2 {
        font-family: $extrabold;
        line-height: 150%;
        @include widescreen {
          margin-bottom: px(1.666vw);
        }
        @include desktop {
          margin-bottom: 1.666vw;
        }
        @include tablet {
          margin: 0 0 3vw;
          font-size: 3.5vw;
        }
        @include mobile {
          margin: 0 0 9vw;
          font-size: 7vw;
        }
      }
      p {
        @include paragraph;
      }
    }
  }

  #iso {
    @include widescreen {
      margin-top: px(8.333vw);
    }
    @include desktop {
      margin-top: 8.333vw;
    }
    @include tablet {
      margin-top: 14vw;
    }
    @include mobile {
      margin-top: 41vw;
    }
    .liner {
      position: relative;
      background: $blue-3;
      @include widescreen {
        padding: px(4.1666vw);
      }
      @include desktop {
        padding: 4.1666vw;
      }
      @include tablet {
        padding: 5vw 40vw 5vw 5vw;
      }
      @include mobile {
        padding-top: 80vw;
        padding-bottom: 80vw;
      }
      h2,
      p {
        color: white;
      }
      img {
        position: absolute;
        &.label {
          @include widescreen {
            top: -24px;
            right: 210px;
          }
          @include desktop {
            top: -24px;
            right: 210px;
          }
          @include tablet {
            width: 20vw;
            top: -3.1vw;
            right: 7vw;
          }
          @include mobile {
            width: 40vw;
            top: -6.2vw;
            right: 32vw;
          }
        }
        &.daniel {
          border: 5px solid #fff;
          box-shadow: 0 2px 4px RGBA(0, 0, 0, 0.3);
          @include widescreen {
            top: px(3.8333vw);
            right: px(-0.833vw);
          }
          @include desktop {
            top: 3.8333vw;
            right: -0.833vw;
          }
          @include tablet {
            right: 4vw;
            bottom: -8vw;
          }
          @include mobile {
            right: 8vw;
            bottom: -6vw;
          }
        }
      }
      .text {
        @include widescreen {
          max-width: 60%;
        }
        @include desktop {
          max-width: 60%;
        }
      }
    }
  }

  #pioneer {
    .liner {
      @include tablet {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
      .text {
        @include tablet {
          width: 60%;
        }
      }
      img {
        @include tablet {
          margin: 9vw 0 -3vw;
        }
        @include mobile {
          margin: 10vw 0 -5vw;
        }
      }
    }
  }

  #durable {
    img {
      @include tablet {
        align-self: flex-end;
        transform: translateX(5vw);
        margin-bottom: -3vw;
        margin-top: -30vw;
      }
      @include mobile {
        align-self: flex-end;
        transform: translateX(5vw);
        margin-bottom: 9vw;
      }
    }
    .liner {
      @include tablet {
        display: flex;
        flex-direction: column-reverse;
      }
      @include mobile {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }

  #support {
    img {
      @include tablet {
        margin: 10vw 0 5vw;
      }
      @include mobile {
        margin-bottom: 9vw;
        width: 100%;
      }
    }
  }
}
