section.product-features,
section.documents {
  .liner {
    @include widescreen {
      width: px(60vw);
    }
    @include desktop {
      width: 60vw;
    }
    @include tablet {
      padding: 0 6vw 0;
    }
    @include mobile {
      padding: 0 5vw;
    }
  }
  ul {
    li {
      display: flex;
      align-items: center;
      & + li {
        border-top: 1px solid #eee;
        @include widescreen {
          margin-top: px(0.8vw);
          padding-top: px(0.8vw);
        }
        @include desktop {
          margin-top: 0.8vw;
          padding-top: 0.8vw;
        }
        @include tablet {
          margin-top: 1.2vw;
          padding-top: 1.2vw;
        }
        @include mobile {
          margin-top: 2vw;
          padding-top: 2vw;
        }
      }
      picture {
        display: block;
        height: auto;
        @include widescreen {
          width: px(4vw);
          height: px(4vw);
          margin-right: px(1.5vw);
        }
        @include desktop {
          width: 4vw;
          height: 4vw;
          margin-right: 1.5vw;
        }
        @include tablet {
          width: 10vw;
          height: 10vw;
          margin-right: 2.4vw;
        }
        @include mobile {
          width: 15vw;
          height: 15vw;
          margin-right: 4vw;
        }
        i.load-spinner {
          transform: scale(0.7);
        }
      }
      p,
      > a {
        color: $paragraph-color-1;
        font-family: $regular;
        margin: 0;
        @include widescreen {
          font-size: px(1.4vw);
        }
        @include desktop {
          font-size: 1.4vw;
        }
        @include tablet {
          font-size: 2.8vw;
        }
        @include mobile {
          font-size: 4.6vw;
        }
      }
    }
  }
}
