section {
  .liner {
    max-width: 1200px;
    margin: 0 auto;
  }

  &.temporary {
    h1 {
      text-align: center;
      margin: 80px 0;
    }
    ul {
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        & + li {
          margin-top: 10px;
        }
      }
    }
    .liner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5vw;
    }
    p {
      & > a {
        color: $blue-0;
        &:hover {
          color: $orange-3;
        }
      }
    }
  }

  // $blue-3 background, white text (product names)
  h1 {
    //
  }

  // $blue-0 background, white text (product families)
  h2 {
    //
  }

  // Big light fonts (titles on product family page)
  h3 {
    //
  }

  // Small bold dark fonts (titles on product pages)
  h4 {
    font-family: $extrabold;
    color: $paragraph-color-1;
    @include widescreen {
      font-size: px(1.8vw);
    }
    @include desktop {
      font-size: 1.8vw;
    }
    @include tablet {
      font-size: 3.6vw;
    }
    @include mobile {
      font-size: 6vw;
      line-height: 160%;
    }

    & + ul {
      @include widescreen {
        margin-top: px(2vw); // TODO
      }
      @include desktop {
        margin-top: 2vw; // TODO
      }
      @include tablet {
        margin-top: 5vw;
      }
      @include mobile {
        margin-top: 5vw;
      }
    }

    & + p {
      @include widescreen {
        margin-top: px(2vw); // TODO
      }
      @include desktop {
        margin-top: 2vw; // TODO
      }
      @include tablet {
        margin-top: 5vw;
      }
      @include mobile {
        margin-top: 5vw;
      }
    }
  }

  // Paragraphs, but larger
  h5 {
    //
  }

  p {
    font-family: $regular;
    color: $paragraph-color-1;
    line-height: 170%;
    margin: 0;
    @include widescreen {
      font-size: px(1.4vw);
    }
    @include desktop {
      font-size: 1.4vw;
    }
    @include tablet {
      font-size: 2.8vw;
    }
    @include mobile {
      font-size: 4.6vw;
    }
    & + p {
      @include widescreen {
        margin-top: px(1vw);
      }
      @include desktop {
        margin-top: 1vw;
      }
      @include tablet {
        // TODO
      }
      @include mobile {
        // TODO
      }
    }
  }
}
