section {
  .liner {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

section.white,
section.text {
  background: $grey-0;
  .liner {
    background: white;
    box-shadow: 0 0.2vw 0.4vw rgba(black, 0.1);
  }
}

section.products {
  background: white;
  box-shadow: 0 0.2vw 0.4vw rgba(black, 0.1);
}

section.product-hero {
  @include widescreen {
    margin-bottom: px(4.5vw);
  }
  @include desktop {
    margin-bottom: 5.5vw;
  }
  @include tablet {
    margin-bottom: 14vw;
  }
  @include mobile {
    margin-bottom: 20vw;
  }
}

section.family-hero {
  @include widescreen {
    margin-bottom: px(9vw);
  }
  @include desktop {
    margin-bottom: 9vw;
  }
  @include tablet {
    margin-bottom: 18vw; // same as horizontal line margins
  }
  @include mobile {
    margin-bottom: 28vw; // same as horizontal line margins
  }
}

section.products + section.products,
section.text + section.products {
  @include widescreen {
    margin-top: px(2.5vw);
  }
  @include desktop {
    margin-top: 2.5vw;
  }
  @include tablet {
    margin-top: 5vw;
  }
  @include mobile {
    margin-top: 12vw;
  }
}

section.text + section.product-features,
section.text + section.text,
section.product-features + section.documents,
section.product-features + section.text,
section.product-features + section.product-features {
  @include widescreen {
    margin-top: px(4.5vw);
  }
  @include desktop {
    margin-top: 5.5vw;
  }
  @include tablet {
    margin-top: 14vw;
  }
  @include mobile {
    margin-top: 20vw;
  }
}
