<Page @id="contact-loading">
  <Header />

  <main>
    <Section @id="map">
      <Map @markers={{@model.companies}} />

      <div class="loading">
        <p>Loading ...</p>
      </div>
    </Section>
  </main>

  <Footer />
</Page>