<div id='not-found'>
  <div class='left'>
    <p>too many voids!</p>
    <p>if only we used LMPA-Q... :)</p>
  </div>

  <div class='right'>
    <h1>404 – Whoops</h1>
    <h2>This page cannot be found / loaded.</h2>
    <p>Please return to our <a href='https://interflux.com'>homepage</a>.</p>
    <p>Alternatively,
      <a href='mailto:jw@interflux.au'>report this issue</a>
      and we will find a solution!</p>
  </div>
</div>