main.products {
  background: $grey-0;
  @include tablet {
    padding-top: 9vw;
  }
  @include mobile {
    padding-top: 21vw;
  }
  .liner {
    display: flex;
    // Note: this breaks the sticky position of the <aside>
    // align-items: flex-start;
    @include widescreen {
      max-width: 1150px;
      padding: 30px 30px 90px;
      margin: 0 auto;
    }
    @include desktop {
      max-width: vw(1150px);
      padding: vw(30px) vw(30px) vw(90px);
      margin: 0 auto;
    }
    @include tablet {
      // TODO
    }
    @include mobile {
      flex-direction: column;
    }
  }
  aside {
    flex-shrink: 0;
    @include widescreen {
      width: 260px;
      margin-right: 30px;
    }
    @include desktop {
      width: vw(260px);
      margin-right: vw(30px);
    }
    @include tablet {
      // TODO
    }
    @include mobile {
      width: 100vw;
    }

    & > div {
      border: 1px solid #e3e3e3;
      bottom: 0;

      @include widescreen {
        top: 30px;
        padding: 20px;
      }
      @include desktop {
        top: vw(30px);
        padding: vw(20px);
      }
      @include tablet {
        // TODO
      }
      @include mobile {
        padding: 4.5vw;
      }

      &.sticky {
        @include widescreen {
          position: sticky;
        }
        @include desktop {
          position: sticky;
        }
        @include tablet {
          // TODO
        }
      }
    }

    input {
      @include widescreen {
        width: 220px;
      }
      @include desktop {
        width: vw(220px);
      }
      @include tablet {
        // TODO
      }
      @include mobile {
        width: 100%;
      }
    }

    fieldset {
      padding: 0;
      border: 0;
      margin: 0;
      & + fieldset {
        @include widescreen {
          margin-top: 30px;
        }
        @include desktop {
          margin-top: vw(30px);
        }
        @include tablet {
          // TODO
        }
        @include mobile {
          margin-top: 4.5vw;
        }
      }
    }

    legend {
      @include paragraph;
      font-family: $bold;
      @include widescreen {
        margin-bottom: 16px;
      }
      @include desktop {
        margin-bottom: vw(16px);
      }
      @include tablet {
        // TODO
      }
      @include mobile {
        margin-bottom: 4.5vw;
      }
    }

    #search {
      position: relative;
      z-index: 2;
      input {
        width: 100%;
      }
    }

    .button.pill,
    .button.pill.selected span {
      overflow: hidden;
      text-overflow: ellipsis;
      @include widescreen {
        max-width: 220px;
      }
      @include desktop {
        max-width: vw(220px);
      }
      @include tablet {
        // TODO
      }
      @include mobile {
        max-width: calc(100vw - 4.5vw - 4.5vw);
      }
    }
  }

  article {
    background: white;
    box-shadow: 0 4px 8px rgba(black, 0.1);
    @include widescreen {
      width: 880px;
    }
    @include desktop {
      width: vw(880px);
    }
    @include tablet {
      // TODO
    }
    @include mobile {
      width: 100vw;
    }

    &.grid {
      ol {
        flex-direction: row;
        flex-wrap: wrap;
        li {
          width: 33.3333%;
        }
      }
    }
  }

  & + .spacer {
    background: $grey-0;
  }
}
