main#home-mobile {
  h2 {
    text-align: center;
    font-family: $semibold;
    color: $grey-7;
    @include tablet {
      font-size: 5vw; // TODO
    }
    @include mobile {
      font-size: 5vw;
    }
  }
  #hero {
    position: relative;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5vw;
      background: rgba($blue-4, 0.7);
    }
    .liner {
      padding: 55vw 10vw;
      height: 90vh;
      display: flex;
      align-items: center;
    }
    .text {
      position: relative;
      z-index: 1;
      h1,
      p {
        text-align: center;
        color: white;
      }
      h1 {
        line-height: 150%;
        @include tablet {
          font-size: 8vw; // TODO
          margin-bottom: 10vw;
        }
        @include mobile {
          font-size: 8vw;
          margin-bottom: 10vw;
        }
        strong {
          display: block;
          background: $orange-0;
          font-family: $extrabold;
        }
      }
      p {
        line-height: 150%;
        @include tablet {
          font-size: 5.9375vw; // TODO
        }
        @include mobile {
          font-size: 5.9375vw;
        }
      }
    }
    .cta {
      position: relative;
      z-index: 1;
      position: absolute;
      bottom: 5vw;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .image {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      z-index: 0;
      picture {
        height: auto;
      }
    }
  }
  #what-we-do,
  #why {
    background: $blue-5;
    @include tablet {
      border-bottom: 5vw solid $blue-4; // TODO
      border-top: 5vw solid $blue-4; // TODO
      padding: 42vw 10vw; // TODO
    }
    @include mobile {
      border-bottom: 5vw solid $blue-4;
      border-top: 5vw solid $blue-4;
      padding: 42vw 10vw;
    }
    h2 {
      color: white;
      @include tablet {
        margin-bottom: 10vw; // TODO
      }
      @include mobile {
        margin-bottom: 10vw;
      }
    }
    blockquote {
      @include tablet {
        font-size: 6.875vw; // TODO
      }
      @include mobile {
        font-size: 6.875vw;
      }
      font-family: $regular;
      text-align: center;
      color: white;
      line-height: 130%;
      strong {
        font-family: $extrabold;
      }
    }
    .cta {
      margin-top: 10vw;
      display: flex;
      justify-content: center;
    }
  }
  #popular,
  #new {
    h2 {
      margin: 30vw auto 20vw;
    }
    h3 {
      font-family: $extrabold;
      background: $blue-3;
      color: white;
      @include tablet {
        font-size: 6vw; // TODO
        padding: 1vw; // TODO
        margin-bottom: 2vw; // TODO
      }
      @include mobile {
        font-size: 6vw;
        padding: 2vw 3vw;
        margin-bottom: 2vw;
      }
    }
    h4 {
      font-family: $regular;
      background: $blue-0;
      color: white;
      @include tablet {
        font-size: 5vw; // TODO
        padding: 2vw 3vw; // TODO
        margin-bottom: 2vw; // TODO
      }
      @include mobile {
        font-size: 5vw;
        padding: 1.5vw 2.5vw;
        margin-bottom: 2vw;
      }
    }
    ul {
      &.rows {
        padding: 1px 0;
        background: $grey-1;
        li {
          background: white;
          & + li {
            margin-top: 1px;
          }
          a {
            display: flex;
          }
          .left {
            padding: 2vw;
            picture {
              width: 32vw;
              height: 32vw;
            }
          }
          .right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
          }
        }
      }
      &.tiles {
        display: flex;
        flex-direction: column;
        align-items: center;
        picture {
          width: 80vw;
          height: 80vw;
        }
        li {
          position: relative;
          & + li {
            margin-top: 5vw;
          }
        }
        .text {
          position: absolute;
          left: 4vw;
          top: 4vw;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
    .cta {
      padding: 20vw 10vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  #trusted-by {
    .liner {
      padding: 30vw 5vw;
    }
    h2 {
      margin: 0 auto 20vw;
    }
    .logos {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: center;
    }
    picture {
      width: 45vw;
      height: auto;
      &.oritech {
        background: #006464;
        padding: 2vw;
        box-sizing: border-box;
      }
    }
  }
}

main#home-desktop {
  #links {
    background-color: $blue-3;
    background: linear-gradient(0deg, $blue-3, $blue-4 80%, $blue-5 100%);
    .liner {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 465px 30px 465px;
      grid-template-areas:
        'left gap right'
        'bottom bottom bottom';
      padding: 80px 0;
      max-width: none;
      justify-content: center;
    }
    .left,
    .right {
      width: 465px;
      height: 300px;
      overflow: hidden;
      position: relative;
      padding: 18px 23px;
      box-sizing: border-box;
      nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      h2,
      p,
      a {
        position: relative;
        z-index: 2;
        color: $blue-0;
      }
      h2 {
        font-size: 21px;
      }
      p {
        font-size: 14px;
        margin-bottom: 14px;
      }
      a {
        background: white;
        color: $blue-3;
        line-height: 28px;
        margin-top: 6px;
        padding: 2px 15px;
        border-radius: 0;
        box-shadow: 0 1px 2px RGBA(0, 0, 0, 0.1);
        font-family: $bold;
        font-size: 19px;
        &:hover {
          color: $orange-3;
        }
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        opacity: 0;
        transition: opacity 400ms ease;
        &.image-3,
        &.image-8 {
          top: -300px;
        }
        &.image-4,
        &.image-9 {
          top: -600px;
        }
        &.image-5,
        &.image-10 {
          top: -900px;
        }
      }
    }
    .left {
      grid-area: left;
      background: rgba(white, 0.05);
      box-shadow: 0 3px 6px rgba(black, 0.2);
      .image-1 {
        opacity: 1;
      }
      &.image-2 {
        .image-2 {
          opacity: 1;
        }
      }
      &.image-3 {
        .image-3 {
          opacity: 1;
        }
      }
      &.image-4 {
        .image-4 {
          opacity: 1;
        }
      }
      &.image-5 {
        .image-5 {
          opacity: 1;
        }
      }
    }
    .right {
      grid-area: right;
      background: rgba(white, 0.05);
      box-shadow: 0 3px 6px rgba(black, 0.2);
      img {
        left: -465px;
      }
      h2,
      p {
        color: white;
      }
      .image-6 {
        opacity: 1;
      }
      &.image-7 {
        .image-7 {
          opacity: 1;
        }
      }
      &.image-8 {
        .image-8 {
          opacity: 1;
        }
      }
      &.image-9 {
        .image-9 {
          opacity: 1;
        }
      }
      &.image-10 {
        .image-10 {
          opacity: 1;
        }
      }
    }
    .bottom {
      grid-area: bottom;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
      a {
        background: rgba(white, 0.05);
        flex: 1;
        padding: 12px;
        border-radius: 0;
        &:first-child {
          margin-right: 30px;
        }
        &:last-child {
          margin-left: 30px;
        }
        &:hover {
          p {
            color: $orange-0;
          }
        }
        p {
          color: white;
          font-size: 22px;
          font-family: $semibold;
          &.small {
            font-family: $light;
            font-size: 14px;
            margin: 0;
          }
        }
      }
    }
    nav {
    }
  }
  #languages {
    .liner {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 900px;
      flex-wrap: wrap;
      margin-top: 20px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        &:hover {
          p {
            color: $orange-3;
          }
        }
        img {
          margin-right: 10px;
        }
      }
    }
  }
}
