main#homepage {
  #hero {
    position: relative;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background: rgba($blue-4, 0.7);
      @include widescreen {
        height: 25px;
      }
      @include desktop {
        height: vw(25px);
      }
      @include tablet {
        height: 3vw;
      }
      @include mobile {
        height: 5vw;
      }
    }
    .liner {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .text {
      position: absolute;
      z-index: 1;
      h1 {
        line-height: 100%;
        font-family: $bold;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        small {
          font-family: $semibold;
          @include widescreen {
            font-size: 20px;
          }
          @include desktop {
            font-size: vw(20vw);
          }
          @include tablet {
            font-size: 3vw;
          }
          @include mobile {
            font-size: 6vw;
          }
        }
        strong {
          display: block;
          font-family: $extrabold;
          @include widescreen {
            font-size: 48px;
            margin: 40px 0;
          }
          @include desktop {
            font-size: vw(48vw);
            margin: vw(40px) 0;
          }
          @include tablet {
            font-size: 7vw;
            margin: 7vw 0;
          }
          @include mobile {
            font-size: 9vw;
            margin: 10vw 0;
          }
          mark {
            position: relative;
            background: none;
            color: white;
            &:after {
              content: '';
              position: absolute;
              background: $orange-1;
              z-index: -1;
              @include widescreen {
                height: 48px;
                width: calc(100% + 15px);
                left: -7.5px;
                top: 8px;
              }
              @include desktop {
                height: vw(48px);
                width: calc(100% + #{vw(15px)});
                left: vw(-7.5px);
                top: vw(8px);
              }
              @include tablet {
                height: 7vw;
                width: calc(100% + 2vw);
                left: -1vw;
                top: 1.1vw;
              }
              @include mobile {
                height: 10vw;
                width: calc(100% + 3vw);
                left: -1.5vw;
                top: 0.8vw;
              }
            }
          }
        }
      }
    }
    .cta {
      position: relative;
      z-index: 1;
      position: absolute;
      bottom: 5vw;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .image {
      position: relative;
      z-index: 0;
      display: flex;
      align-items: center;
      picture {
        height: auto;
        img {
          width: 100vw;
        }
      }
    }
  }
  h2 {
    text-align: center;
    font-family: $semibold;
    color: $grey-7;
    @include widescreen {
      font-size: 20px;
    }
    @include desktop {
      font-size: vw(20px);
    }
    @include tablet {
      font-size: 2.6vw;
    }
    @include mobile {
      font-size: 5vw;
    }
  }
  #what-we-do,
  #why {
    background: $blue-5;
    @include widescreen {
      border-bottom: 25px solid $blue-4;
      border-top: 25px solid $blue-4;
    }
    @include desktop {
      border-bottom: vw(25px) solid $blue-4;
      border-top: vw(25px) solid $blue-4;
    }
    @include tablet {
      border-bottom: 3vw solid $blue-4;
      border-top: 3vw solid $blue-4;
    }
    @include mobile {
      border-bottom: 5vw solid $blue-4;
      border-top: 5vw solid $blue-4;
    }
    .liner {
      @include widescreen {
        padding: 150px 50px;
      }
      @include desktop {
        padding: vw(150px) vw(50px);
      }
      @include tablet {
        padding: 28vw 10vw;
      }
      @include mobile {
        padding: 42vw 10vw;
      }
    }
    h2 {
      color: white;
      @include widescreen {
        margin-bottom: 40px;
      }
      @include desktop {
        margin-bottom: vw(40px);
      }
      @include tablet {
        margin-bottom: 7.6vw;
      }
      @include mobile {
        margin-bottom: 10vw;
      }
    }
    blockquote {
      font-family: $regular;
      text-align: center;
      color: white;
      line-height: 150%;
      margin: 0 auto;
      @include widescreen {
        font-size: 32px;
      }
      @include desktop {
        font-size: vw(32px);
      }
      @include tablet {
        font-size: 3.8vw;
      }
      @include mobile {
        font-size: 6.875vw;
      }
      strong {
        font-family: $extrabold;
      }
    }
    p {
      color: white;
      text-align: center;
      @include widescreen {
        margin: 40px auto 0;
        max-width: 500px;
      }
      @include desktop {
        margin: vw(40px) auto 0;
        max-width: vw(500px);
      }
      @include tablet {
      }
      @include mobile {
      }
    }
    .cta {
      display: flex;
      justify-content: center;
      @include widescreen {
        margin-top: 32px;
      }
      @include desktop {
        margin-top: vw(32px);
      }
      @include tablet {
        margin-top: 7.6vw;
      }
      @include mobile {
        margin-top: 10vw;
      }
    }
  }
  #what-we-do {
    blockquote {
      @include widescreen {
        max-width: 550px;
      }
      @include desktop {
        max-width: vw(550px);
      }
      @include tablet {
        max-width: 70vw;
      }
    }
  }
  #why {
    blockquote {
      @include widescreen {
        max-width: 550px;
      }
      @include desktop {
        max-width: vw(550px);
      }
      @include tablet {
        max-width: 80%;
      }
    }
  }
  #popular,
  #new {
    h2 {
      @include widescreen {
        margin: 160px auto 80px;
      }
      @include desktop {
        margin: vw(160px) auto vw(80px);
      }
      @include tablet {
        margin: 20vw auto 10vw;
      }
      @include mobile {
        margin: 30vw auto 20vw;
      }
    }
    h3 {
      font-family: $extrabold;
      color: white;
      line-height: 160%;
      @include widescreen {
        font-size: 26px;
      }
      @include desktop {
        font-size: vw(26px);
      }
      @include tablet {
        font-size: 3.2vw;
      }
      @include mobile {
        font-size: 6vw;
      }
      span {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          background: $blue-3;
          z-index: -1;
          @include widescreen {
            height: calc(100% + 4px);
            width: calc(100% + 28px);
            left: -14px;
            top: -2px;
          }
          @include desktop {
            height: calc(100% + #{vw(4px)});
            width: calc(100% + #{vw(28px)});
            left: vw(-14px);
            top: vw(-2px);
          }
          @include tablet {
            height: calc(100% + 0.4vw);
            width: calc(100% + 3.2vw);
            left: -1.6vw;
            top: -0.2vw;
          }
          @include mobile {
            height: calc(100% + 1.6vw);
            width: calc(100% + 6vw);
            left: -3vw;
            top: -0.8vw;
          }
        }
      }
    }
    h4 {
      font-family: $regular;
      color: white;
      line-height: 160%;
      @include tablet {
        font-size: 16px;
      }
      @include tablet {
        font-size: 16px;
      }
      @include tablet {
        font-size: 2.2vw;
      }
      @include mobile {
        font-size: 5vw;
      }
      span {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          background: $blue-0;
          z-index: -1;
          @include widescreen {
            height: calc(100% + 4px);
            width: calc(100% + 20px);
            left: -10px;
            top: -2px;
          }
          @include desktop {
            height: calc(100% + #{vw(4px)});
            width: calc(100% + #{vw(20px)});
            left: vw(-10px);
            top: vw(-2px);
          }
          @include tablet {
            height: calc(100% + 0.4vw);
            width: calc(100% + 3.2vw);
            left: -1.6vw;
            top: -0.2vw;
          }
          @include mobile {
            height: calc(100% + 0.8vw);
            width: calc(100% + 6vw);
            left: -3vw;
            top: -0.4vw;
          }
        }
      }
    }
    h3 + h4 {
      @include widescreen {
        margin-top: 2px;
      }
      @include desktop {
        margin-top: vw(2px);
      }
      @include tablet {
        margin-top: 1.4vw;
      }
      @include mobile {
        margin-top: 1vw;
      }
    }
    ul.products {
      margin: 0 auto;
      @include widescreen {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 900px;
      }
      @include desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 900px;
      }
      @include tablet {
        background: $grey-1;
        padding: 1px 0;
      }
      @include mobile {
        background: $grey-1;
        padding: 1px 0;
      }
      &.two-columns {
        @include widescreen {
          max-width: 600px;
        }
        @include desktop {
          max-width: 600px;
        }
      }

      li {
        background: white;
        box-sizing: border-box;
        @include widescreen {
          width: 300px;
          height: 300px;
          padding: 10px;
        }
        @include desktop {
          width: 300px;
          height: 300px;
          padding: 10px;
        }
        & + li {
          margin-top: 1px;
        }
        a {
          display: flex;
          align-items: center;
          position: relative;
          border-radius: 2px;
          overflow: hidden;
          outline: none;
          @include widescreen {
            width: 100%;
            height: 100%;
            text-align: center;
          }
          @include desktop {
            width: 100%;
            height: 100%;
            text-align: center;
          }
          @include tablet {
            padding: 0 5vw 0 15vw;
            justify-content: flex-start;
          }
          @include mobile {
            flex-direction: column;
            justify-content: center;
            padding: 9vw;
          }
          &:hover,
          &:focus {
            box-shadow: 0 0 0 4px white, 0 0 0 6px $blue-0;
            img {
              transform: scale(1.1);
            }
          }
        }
        .image {
          @include widescreen {
            width: 100%;
            height: 100%;
          }
          @include desktop {
            width: 100%;
            height: 100%;
          }
          @include tablet {
            padding: 2vw;
            width: 25vw;
            height: 25vw;
          }
          @include mobile {
            width: 70vw;
            height: 70vw;
          }
          img {
            transition: transform 300ms $easeOutExpo;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          z-index: 0;
          @include widescreen {
            position: absolute;
            width: 100%;
          }
          @include desktop {
            position: absolute;
            width: 100%;
          }
          @include tablet {
            align-items: flex-start;
            padding-left: 3vw;
          }
          @include mobile {
            margin-top: -5vw;
            align-items: center;
          }
        }
      }
    }
    .cta {
      @include widescreen {
        margin: 80px auto 160px;
      }
      @include desktop {
        margin: vw(80px) auto vw(160px);
      }
      @include tablet {
        margin: 10vw auto 20vw;
      }
      @include mobile {
        margin: 20vw auto 30vw;
      }
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  #trusted-by {
    .liner {
      @include widescreen {
        padding-bottom: 160px;
      }
      @include desktop {
        padding-bottom: 160px;
      }
      @include tablet {
        padding: 24vw 5vw;
      }
      @include mobile {
        padding: 28vw 5vw;
      }
    }
    h2 {
      @include widescreen {
        margin: 160px auto 80px;
      }
      @include desktop {
        margin: vw(160px) auto vw(80px);
      }
      @include tablet {
        margin: 0 auto 10vw;
      }
      @include mobile {
        margin: 0 auto 20vw;
      }
    }
    .logos {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: center;
    }
    picture {
      height: auto;
      @include widescreen {
        width: 300px;
      }
      @include desktop {
        width: vw(300px);
      }
      @include tablet {
        width: 36vw;
      }
      @include mobile {
        width: 45vw;
      }
      &.oritech {
        background: #006464;
        padding: 2vw;
        box-sizing: border-box;
      }
    }
  }
}
