main#home-mobile {
  h2 {
    text-align: center;
    font-family: $semibold;
    color: $grey-7;
    @include tablet {
      font-size: 2.6vw;
    }
    @include mobile {
      font-size: 5vw;
    }
  }
  #hero {
    position: relative;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background: rgba($blue-4, 0.7);
      @include tablet {
        height: 3vw;
      }
      @include mobile {
        height: 5vw;
      }
    }
    .liner {
      height: 90vh;
      display: flex;
      align-items: center;
      justify-content: center;
      @include tablet {
        padding: 16vw 20vw 10vw;
      }
      @include mobile {
        padding: 16vw 5vw 10vw;
      }
    }
    .text {
      position: relative;
      z-index: 1;
      h1,
      p {
        text-align: center;
        color: white;
      }
      h1 {
        line-height: 150%;
        font-family: $bold;
        @include tablet {
          font-size: 6vw;
          margin-bottom: 7vw;
        }
        @include mobile {
          font-size: 9vw;
          margin-bottom: 10vw;
        }
        strong {
          display: block;
          font-family: $extrabold;
          span {
            position: relative;
            &:after {
              content: '';
              position: absolute;
              background: $orange-0;
              z-index: -1;
              @include tablet {
                height: 6.6vw;
                width: calc(100% + 3.6vw);
                left: -1.8vw;
                top: 0.8vw;
              }
              @include mobile {
                height: 11vw;
                width: calc(100% + 4vw);
                left: -2vw;
                top: 0.8vw;
              }
            }
          }
        }
      }
      p {
        line-height: 170%;
        @include tablet {
          font-size: 3.8vw;
        }
        @include mobile {
          font-size: 5.9375vw;
        }
      }
    }
    .cta {
      position: relative;
      z-index: 1;
      position: absolute;
      bottom: 5vw;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .image {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      z-index: 0;
      picture {
        height: auto;
        img {
          width: 100vw;
        }
      }
    }
  }
  #what-we-do,
  #why {
    background: $blue-5;
    @include tablet {
      border-bottom: 3vw solid $blue-4;
      border-top: 3vw solid $blue-4;
      padding: 28vw 10vw;
    }
    @include mobile {
      border-bottom: 5vw solid $blue-4;
      border-top: 5vw solid $blue-4;
      padding: 42vw 10vw;
    }
    h2 {
      color: white;
      @include tablet {
        margin-bottom: 7.6vw;
      }
      @include mobile {
        margin-bottom: 10vw;
      }
    }
    blockquote {
      font-family: $regular;
      text-align: center;
      color: white;
      line-height: 130%;
      margin: 0 auto;
      @include tablet {
        font-size: 3.8vw;
      }
      @include mobile {
        font-size: 6.875vw;
      }
      strong {
        font-family: $extrabold;
      }
    }
    .cta {
      margin-top: 5vw;
      display: flex;
      justify-content: center;
    }
  }
  #what-we-do {
    blockquote {
      @include tablet {
        max-width: 40vw;
      }
    }
  }
  #why {
    blockquote {
      @include tablet {
        max-width: 80%;
      }
    }
  }
  #popular,
  #new {
    h2 {
      @include tablet {
        margin: 20vw auto 10vw;
      }
      @include mobile {
        margin: 30vw auto 20vw;
      }
    }
    h3 {
      font-family: $extrabold;
      color: white;
      line-height: 160%;
      @include tablet {
        font-size: 3.2vw;
      }
      @include mobile {
        font-size: 6vw;
      }
      span {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          background: $blue-3;
          z-index: -1;
          @include tablet {
            height: calc(100% + 0.4vw);
            width: calc(100% + 3.2vw);
            left: -1.6vw;
            top: -0.2vw;
          }
          @include mobile {
            height: calc(100% + 1.6vw);
            width: calc(100% + 6vw);
            left: -3vw;
            top: -0.8vw;
          }
        }
      }
    }
    h4 {
      font-family: $regular;
      color: white;
      line-height: 160%;
      @include tablet {
        font-size: 2.2vw;
      }
      @include mobile {
        font-size: 5vw;
      }
      span {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          background: $blue-0;
          z-index: -1;
          @include tablet {
            height: calc(100% + 0.4vw);
            width: calc(100% + 3.2vw);
            left: -1.6vw;
            top: -0.2vw;
          }
          @include mobile {
            height: calc(100% + 0.8vw);
            width: calc(100% + 6vw);
            left: -3vw;
            top: -0.4vw;
          }
        }
      }
    }
    h3 + h4 {
      @include tablet {
        margin-top: 1.4vw;
      }
      @include mobile {
        margin-top: 1vw;
      }
    }
    ul.products {
      &.rows {
        padding: 1px 0;
        background: $grey-1;
        li {
          background: white;
          & + li {
            margin-top: 1px;
          }
          a {
            display: flex;
            align-items: center;
            @include tablet {
              padding: 0 5vw 0 15vw;
              justify-content: flex-start;
            }
            @include mobile {
              flex-direction: column;
              justify-content: center;
              padding: 9vw;
            }
          }
          .image {
            @include tablet {
              padding: 2vw;
              width: 25vw;
              height: 25vw;
            }
            @include mobile {
              width: 70vw;
              height: 70vw;
            }
          }
          .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 0;
            @include tablet {
              align-items: flex-start;
              padding-left: 3vw;
            }
            @include mobile {
              margin-top: -5vw;
              align-items: center;
            }
          }
        }
      }
    }
    .cta {
      padding: 20vw 10vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  #trusted-by {
    .liner {
      padding: 28vw 5vw;
    }
    h2 {
      margin: 0 auto 20vw;
    }
    .logos {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: center;
    }
    picture {
      width: 45vw;
      height: auto;
      &.oritech {
        background: #006464;
        padding: 2vw;
        box-sizing: border-box;
      }
    }
  }
}

main#home-desktop {
  #links {
    background-color: $blue-3;
    background: linear-gradient(0deg, $blue-3, $blue-4 80%, $blue-5 100%);
    .liner {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 465px 30px 465px;
      grid-template-areas:
        'left gap right'
        'bottom bottom bottom';
      padding: 80px 0;
      max-width: none;
      justify-content: center;
    }
    .left,
    .right {
      width: 465px;
      height: 300px;
      overflow: hidden;
      position: relative;
      padding: 18px 23px;
      box-sizing: border-box;
      nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      h2,
      p,
      a {
        position: relative;
        z-index: 2;
        color: $blue-0;
      }
      h2 {
        font-size: 21px;
      }
      p {
        font-size: 14px;
        margin-bottom: 14px;
      }
      a {
        background: white;
        color: $blue-3;
        line-height: 28px;
        margin-top: 6px;
        padding: 2px 15px;
        border-radius: 0;
        box-shadow: 0 1px 2px RGBA(0, 0, 0, 0.1);
        font-family: $bold;
        font-size: 19px;
        &:hover {
          color: $orange-3;
        }
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        opacity: 0;
        transition: opacity 400ms ease;
        &.image-3,
        &.image-8 {
          top: -300px;
        }
        &.image-4,
        &.image-9 {
          top: -600px;
        }
        &.image-5,
        &.image-10 {
          top: -900px;
        }
      }
    }
    .left {
      grid-area: left;
      background: rgba(white, 0.05);
      box-shadow: 0 3px 6px rgba(black, 0.2);
      .image-1 {
        opacity: 1;
      }
      &.image-2 {
        .image-2 {
          opacity: 1;
        }
      }
      &.image-3 {
        .image-3 {
          opacity: 1;
        }
      }
      &.image-4 {
        .image-4 {
          opacity: 1;
        }
      }
      &.image-5 {
        .image-5 {
          opacity: 1;
        }
      }
    }
    .right {
      grid-area: right;
      background: rgba(white, 0.05);
      box-shadow: 0 3px 6px rgba(black, 0.2);
      img {
        left: -465px;
      }
      h2,
      p {
        color: white;
      }
      .image-6 {
        opacity: 1;
      }
      &.image-7 {
        .image-7 {
          opacity: 1;
        }
      }
      &.image-8 {
        .image-8 {
          opacity: 1;
        }
      }
      &.image-9 {
        .image-9 {
          opacity: 1;
        }
      }
      &.image-10 {
        .image-10 {
          opacity: 1;
        }
      }
    }
    .bottom {
      grid-area: bottom;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
      a {
        background: rgba(white, 0.05);
        flex: 1;
        padding: 12px;
        border-radius: 0;
        &:first-child {
          margin-right: 30px;
        }
        &:last-child {
          margin-left: 30px;
        }
        &:hover {
          p {
            color: $orange-0;
          }
        }
        p {
          color: white;
          font-size: 22px;
          font-family: $semibold;
          &.small {
            font-family: $light;
            font-size: 14px;
            margin: 0;
          }
        }
      }
    }
    nav {
    }
  }
  #languages {
    .liner {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 900px;
      flex-wrap: wrap;
      margin-top: 20px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        &:hover {
          p {
            color: $orange-3;
          }
        }
        img {
          margin-right: 10px;
        }
      }
    }
  }
}
