{{#if this.hasNewsItems}}
  <div id='news' class={{if this.showDuvet 'open' 'close'}}>
    <div class='buttons'>
      {{#each this.newsItems as |item|}}
        <Button @onClick={{fn this.show item}}>
          <div class='bg'>
            <Svg::Flag />
          </div>
          <div class='pulse'></div>
        </Button>
      {{/each}}
    </div>

    <div class='duvet'>
      {{#each this.newsItems as |item|}}
        {{#if (eq item 'oritech')}}
          <p class='p'>
            <strong>ElectroneX</strong>
            <span> is coming up!</span>
          </p>
          <p class='p'>Location: Sydney</p>
          <p class='p'>Date: 5 - 6 April 2022</p>
          <p class='p'>
            <span>Do visit </span>
            <strong>Oritech</strong>
            <span>at boot B21. They are the number 1 Interflux experts in
              Australia.</span>
          </p>
          <p class='p'>
            <Link @url='https://electronex.com.au'>electronex.com.au</Link>
          </p>
          <p class='p'>
            <Link @url='https://oritech.com.au'>oritech.com.au</Link>
          </p>
        {{/if}}
      {{/each}}
    </div>
  </div>
{{/if}}