<Section @class="product-tiles">
  {{#each @products as |product|}}
    <LinkTo
      @route="products.family.product"
      @model={{product.slug}}
      class="product-tile"
    >
      <h2>{{product.name}}</h2>
      <h3>{{product.family.nameSingle}}</h3>
      <Image::Responsive @image={{get product 'avatar'}} />
      <button>Explore</button>
    </LinkTo>
  {{/each}}
</Section>