<aside
  id="{{@id}}"
  class="modal"
>
  <div class="overlay">
    <LinkTo @route={{parentRoute}}></LinkTo>
  </div>
  <div class="content">
    <div class="box">
      {{yield}}
    </div>
  </div>
</aside>