@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

figure.responsive-image {
  display: flex;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  background: $grey-0;
  overflow: hidden; // To hide alt text from breaking out of the <figure> frame
  position: relative; // So the error and loading states don't got beyond <figure>
  &.landscape {
    align-items: center;
    flex-direction: column;
  }
  &.portrait {
    height: 100%;
    width: auto;
    picture {
      height: 100%;
      width: auto;
      img {
        height: 100%;
        width: auto;
      }
    }
  }
  .overlay {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &.loading {
    .overlay {
      animation: shimmer 3s infinite;
      background: linear-gradient(
        to right,
        $grey-0 4%,
        darken($grey-0, 2%) 25%,
        $grey-0 36%
      );
      background-size: 1000px 1000px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &.error {
    .overlay {
      background: $grey-0;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 100%;
        height: auto;
        filter: grayscale(1) opacity(0.15);
      }
    }
  }
  &.invalid {
    .no-image {
      svg {
        width: 100%;
        height: auto;
        filter: grayscale(1) opacity(0.4);
      }
    }
  }
  picture {
    position: relative;
    display: block;
    width: 100%;
    img {
      display: block;
      width: 100%;
      height: auto;
      font-size: 1px; // To prevent the alt text from showing if load failed
    }
  }
  figcaption {
    width: 100%;
    .caption,
    .copyright {
      position: absolute;
      font-size: 85%;
      opacity: 0.8;
      @include widescreen {
        padding: 6px 12px;
      }
      @include desktop {
        padding: vw(6px) vw(12px);
      }
      @include tablet {
        padding: 1.3vw 2.3vw;
      }
      @include mobile {
        display: none;
      }
    }
    .caption {
      top: 0;
      left: 0;
    }
    .copyright {
      bottom: 0;
      right: 0;
    }
  }
}
