<Page @id="products">
  <Header />

  <Section @id="intro">
    <h1>We create the <strong>chemistry</strong> needed for producing high reliability <strong>electronics</strong></h1>
  </Section>

  <Section @id="links">
    <nav>
      {{#each this.families as |family|}}
        <Button::Route
          @route="products.family"
          @model={{family.slug}}
        >
          <div class="text">
            <h2>{{capitalise family.namePlural}}</h2>
          </div>
          <div class="images">
            {{#each family.images as |image|}}
              <ResponsiveImage @image={{image}} />
            {{/each}}
          </div>
        </Button::Route>
      {{/each}}
    </nav>
  </Section>

  <Footer />
</Page>