.input {
  width: 100%; // Always be as wide as the parent

  &.big {
    input {
      font-family: $bold;
      font-size: 18px;
      line-height: 48px;
      padding: 0 28px;
      border-radius: 4px;
    }
  }

  &.medium {
    input {
      font-family: $regular;
      font-size: 15px;
      line-height: 40px;
      padding: 0 16px;
      border-radius: 3px;
    }
  }

  &.small {
    input {
      padding: 0 6px;
      line-height: 24px;
      font-family: $regular;
      font-size: 14px;
      border-radius: 2px;
    }
    & + .input.small {
      margin-top: 10px;
    }
  }

  &.white {
    input {
      background: white;
      font-family: $bold;
      color: $blue-3;
      @include placeholder {
        color: rgba(black, 0.3);
      }
    }
  }

  &.shadow {
    input {
      box-shadow: 0 2px 4px RGBA(0, 0, 0, 0.2);
    }
  }

  input {
    border: 0;
    outline: 0;
    background: rgba(white, 0.1);
    color: white;
    width: 100%; // Always be as wide as the parent
    box-sizing: border-box;
    @include placeholder {
      color: rgba(white, 0.3);
    }
  }
}
