section#spacer {
  flex: 1;
  @include widescreen {
    min-height: px(10vw);
  }
  @include desktop {
    min-height: 10vw;
  }
  @include tablet {
    min-height: 20vw;
  }
  @include mobile {
    min-height: 30vw;
  }
}

section#languages {
  background: $blue-4;
  .liner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 710px;
    a {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0 10px;
      p {
        color: white;
      }
      img {
        margin-right: 10px;
      }
    }
  }
}

section#copyright {
  padding: 2vw 0;
  background: $blue-5;
  p {
    text-align: center;
    color: white;
  }
}
