section#spacer {
  flex: 1;
  @include widescreen {
    min-height: px(10vw);
  }
  @include desktop {
    min-height: 10vw;
  }
  @include tablet {
    min-height: 20vw;
  }
  @include mobile {
    min-height: 30vw;
  }
}

section#contact {
  padding: 2vw 0;
  background: $blue-3;
  p {
    text-align: center;
    color: white;
    a {
      color: white;
      text-decoration: underline;
      &:hover {
        color: $orange-2;
        text-decoration: none;
      }
    }
  }
}

section#copyright {
  padding: 2vw 0;
  background: $blue-4;
  p {
    text-align: center;
    color: white;
  }
}
