<Section @id="spacer" />

<!-- <Section @id="contact">
  <p>
    <span>Zero defect soldering?</span>
    <LinkTo @route="contact">Ask Interflux</LinkTo>
  </p>
</Section> -->

<Section @id="copyright">
  <p>&copy; 1980 - {{this.year}} Interflux Electronics &reg;</p>
</Section>