<Section @id="contact">
  <p>
    <span>Need help soldering electronics?</span>
    <LinkTo @route="contact">Ask Interflux</LinkTo>
  </p>
</Section>

<Section @id="copyright">
  <p>&copy; 1980 - {{this.year}} Interflux Electronics &reg;</p>
</Section>