<Page @id="articles">
  <Section @class="temporary">
    <Button::Route
      @route="home"
      @text="Home"
      @size="small"
      @style="blue-2"
    />
    <h1>Articles</h1>

    {{#each @model.categories as |category|}}
      <h2>{{category.name}}</h2>
      <ul>
        {{#each category.articles as |article|}}
          <li>
            <Button::Route
              @route="articles.article"
              @model={{article.slug}}
              @text={{article.title}}
              @size="medium"
              @style="grey-border"
            />
          </li>
        {{/each}}
      </ul>
    {{/each}}
  </Section>
</Page>