{{! template-lint-disable  }}
<div class='map'>
  {{#mapbox-gl
    initOptions=this.initOptions
    mapLoaded=(fn this.mapLoaded)
    as |map|
  }}
    {{map.on 'click' (fn this.mapClicked)}}

    {{#each this.sources as |s|}}
      {{#map.source options=s as |source|}}
        {{source.layer layer=this.sourceLayer}}
      {{/map.source}}
    {{/each}}
  {{/mapbox-gl}}
</div>