.hero-set {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  .hero-card {
    width: 46vw;
    height: 46vw;
    padding: 2vw;
    .clip {
      border-radius: 1vw;
    }
    h2 {
      font-size: 4vw;
    }
  }
}
