#product.page {
  main {
    background: $grey-0;
    .liner {
      // max-width: 1150px;
      max-width: 800px; // TEMPORARY
      padding: 30px;
      margin: 0 auto;
    }
    .columns {
      display: flex;
    }
  }
  article {
    width: 800px;
    section {
      background: white;
      box-shadow: 0 4px 8px rgba(black, 0.05);
      & + section {
        margin-top: 10px;
      }
    }
    #title {
      padding: 60px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h1 {
        font-family: $extrabold;
        background: $blue-3;
        color: white;
        line-height: 145%;
        @include widescreen {
          font-size: px(2.8vw);
          padding: px(0.2vw) px(1.4vw) 0;
          margin-bottom: px(1.1vw);
        }
        @include desktop {
          font-size: 2.8vw;
          padding: 0.2vw 1.4vw 0;
          margin-bottom: 1.1vw;
        }
        @include tablet {
          font-size: 4.8vw;
          padding: 0.36vw 1.8vw 0;
          margin-bottom: 3vw;
        }
        @include mobile {
          font-size: 8vw;
          padding: 0.6vw 3vw 0;
          margin-bottom: 3vw;
        }
      }
      h2 {
        font-family: $regular;
        background: $blue-0;
        color: white;
        line-height: 165%;
        @include widescreen {
          font-size: px(1.5vw);
          padding: px(0.1vw) px(0.8vw) 0;
        }
        @include desktop {
          font-size: 1.5vw;
          padding: 0.1vw 0.8vw 0;
        }
        @include tablet {
          font-size: 2.76vw;
          padding: 0.06vw 1.68vw 0;
        }
        @include mobile {
          font-size: 4.6vw;
          padding: 0.1vw 2.8vw 0;
        }
        &.blue {
          background: $blue-0;
        }
        &.orange {
          background: $orange-2;
          font-family: $bold;
        }
        &.grey {
          background: $grey-3;
        }
        &.red {
          background: $red-1;
        }
        & + h2 {
          margin-left: 10px;
          @include widescreen {
            margin-left: px(1.4vw);
          }
          @include desktop {
            margin-left: 1.4vw;
          }
          @include tablet {
            margin-left: 3vw;
          }
          @include mobile {
            margin-left: 3vw;
          }
        }
      }
      h3 {
        font-family: $extrabold;
        font-size: 19px;
        color: $grey-7;
        margin-bottom: 50px;
      }
      h4 {
        font-family: $bold;
        font-size: 16px;
        color: white;
        background: $green-1;
        background: $blue-3;
        align-self: flex-start;
        padding: 3px 7px 2px;
      }
      h3 + h4 {
        margin-top: 0;
      }
      h4 + p {
        margin-top: 16px;
      }
      p + h4,
      table + h4 {
        margin-top: 32px;
      }
      p + p {
        margin-top: 16px;
      }
      blockquote + p {
        margin-top: 30px;
      }
      .two-columns {
        column-count: 2;
        column-gap: 50px;
      }
      blockquote {
        p {
          color: white;
          font-size: 25px;
          line-height: 150%;
          font-family: $semibold;
          display: flex;
          flex-flow: wrap;
          span {
            flex-shrink: 0;
            line-height: 100%;
            margin-bottom: 2px;
            &.word {
              background: $green-1;
              padding: 6px 6px 4px;
              margin-right: -5px;
            }
            &.space {
              width: 2px;
            }
          }
          sup {
            font-size: 65%;
          }
        }
      }
      dl {
        display: flex;
        flex-wrap: wrap;
        transform: translateX(-15px);
        width: calc(100% + 20px);
        margin: 0;
        // border-left: 1px solid $grey-1;
        // border-top: 1px solid $grey-1;
        dt,
        dd {
          box-sizing: border-box;
          padding: 10px 15px;
          line-height: 150%;
          // border-right: 1px solid $grey-1;
          // border-bottom: 1px solid $grey-1;
          &:nth-of-type(odd) {
            background: $grey-0;
          }
        }
        dt {
          width: 30%;
        }
        dd {
          width: 70%;
          margin: 0; // to get rid of browser default
          ul {
            li {
              line-height: 150%;
            }
          }
        }
      }
      table {
        transform: translateX(-15px);
        width: calc(100% + 20px);
        tr {
          display: flex;
          &:first-child {
            th {
              border-top: 1px solid $grey-1;
            }
          }
          td,
          th {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 10px 15px;
            flex-shrink: 0;
            text-align: left;
            box-sizing: border-box;
            line-height: 150%;
            border-bottom: 1px solid $grey-1;
            border-right: 1px solid $grey-1;
            &:first-child {
              border-left: 1px solid $grey-1;
            }
          }
          th {
            font-family: $regular;
            color: $grey-7;
            background: $grey-0;
          }
        }
      }
    }

    #hero {
      padding: 0;
      #title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 60px;

        .tags {
          display: flex;
        }

        #replaced-by,
        #pitch {
          @include widescreen {
            margin-top: px(3vw);
          }
          @include desktop {
            margin-top: 3vw;
          }
          @include tablet {
            margin-top: 6vw;
          }
          @include mobile {
            margin-top: 10vw;
          }
        }
        p {
          line-height: 160%;
          margin: 0;
          @include widescreen {
            font-size: px(1.4vw);
          }
          @include desktop {
            font-size: 1.4vw;
          }
          @include tablet {
            font-size: 2.8vw;
          }
          @include mobile {
            font-size: 4.6vw;
          }
          & + p {
            @include widescreen {
              margin-top: px(1vw);
            }
            @include desktop {
              margin-top: 1vw;
            }
            @include tablet {
              margin-top: 3vw;
            }
            @include mobile {
              margin-top: 5vw;
            }
          }
        }
      }
      #avatar {
        padding: 0;
      }
      #images {
        padding: 0;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        @include widescreen {
          padding: px(0.3vw);
        }
        @include desktop {
          padding: 0.3vw;
        }
        button {
          outline: 0;
          border: 0;
          padding: 0;
          @include widescreen {
            padding: px(0.2vw);
          }
          @include desktop {
            padding: 0.2vw;
          }
        }
        figure {
          transition: transform 100ms ease;
          outline: 0 solid white;
          box-shadow: 0;
          transform: scale(1);
          cursor: pointer; // because clickable
          @include widescreen {
            width: px((100vw / 15));
            height: px((100vw / 15));
            outline: px(0.4vw) solid white;
          }
          @include desktop {
            width: calc(100vw / 15);
            height: calc(100vw / 15);
            outline: 0.4vw solid white;
          }
          @include tablet {
            width: calc(100vw / 9);
            height: calc(100vw / 9);
          }
          @include mobile {
            width: calc(100vw / 6);
            height: calc(100vw / 6);
          }
          &.active {
            z-index: 1;
            transform: scale(1.2);
          }
          &:hover,
          &:focus {
            z-index: 2;
            transform: scale(1.3);
          }
          &:hover,
          &:focus,
          &.active {
            transform-origin: center;
            @include widescreen {
              box-shadow: 0 px(0.2vw) px(0.3vw) rgba(black, 0.5);
            }
            @include desktop {
              box-shadow: 0 0.2vw 0.3vw rgba(black, 0.5);
            }
            @include tablet {
              box-shadow: 0 0.5vw 0.8vw rgba(black, 0.2);
              outline: 0.8vw solid white;
            }
            @include mobile {
              box-shadow: 0 1vw 2vw rgba(black, 0.2);
              outline: 1.3vw solid white;
            }
          }
          figcaption {
            display: none;
          }
        }
      }
    }

    // TODO: review
    #documents {
      ul {
        li {
          display: flex;
          border-bottom: 1px solid $grey-1;
          &:last-child {
            border-bottom: 0;
          }
          @include widescreen {
            padding: px(0.8vw) 0;
          }
          @include desktop {
            padding: 0.8vw 0;
          }
          @include tablet {
            padding: 1.2vw 0;
          }
          @include mobile {
            padding: 2vw 0;
          }
          .left {
            display: flex;
            width: 100%;
            .icon {
              flex-shrink: 0;
              picture {
                display: block;
                height: auto;
                flex-shrink: 0;
                @include widescreen {
                  width: px(4vw);
                  height: px(4vw);
                  margin-right: px(2vw);
                }
                @include desktop {
                  width: 4vw;
                  height: 4vw;
                  margin-right: 2vw;
                }
                @include tablet {
                  width: 8vw;
                  height: 8vw;
                  margin-right: 3vw;
                }
                @include mobile {
                  width: 12vw;
                  height: 12vw;
                  margin-right: 5vw;
                }
              }
            }
            .text {
              display: flex;
              align-items: center;
              p {
                font-family: $regular;
                font-size: 16px;
                line-height: 24px;
                color: $grey-7;
              }
            }
          }
          .right {
            display: flex;
            flex-shrink: 0;
            &.links {
              align-items: center;
              a {
                font-size: 16px;
                &:hover,
                &:focus {
                  color: $orange-3;
                }
                &:focus {
                  outline: 0;
                  box-shadow: 0 0 0 4px white, 0 0 0 6px $orange-3;
                  border-radius: 1px;
                }
                & + a {
                  margin-left: 12px;
                }
              }
            }
            &.arrow {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 20px;
              @include widescreen {
                height: px(4vw);
              }
              @include desktop {
                height: 4vw;
              }
              @include tablet {
                height: 8vw;
              }
              @include mobile {
                height: 12vw;
              }
              svg {
                height: 10px;
                width: auto;
                transform: rotate(90deg);
                [fill] {
                  fill: $grey-3;
                }
              }
            }
          }
        }
      }
    }

    section#compliance {
      table {
        margin-top: 20px;
        td,
        th {
          &:nth-child(1) {
            flex: 4;
          }
          &:nth-child(2) {
            flex: 1;
          }
          &:nth-child(3) {
            flex: 5;
          }
          mark {
            display: inline-block;
            font-family: $semibold;
            background: $green-1;
            color: white;
            line-height: 100%;
            padding: 4px;
            border-radius: 2px;
          }
        }
      }
    }

    ul.accordion {
      width: calc(100% + 60px + 60px); // match the padding on sections
      transform: translateX(-60px); // match the padding on sections
      > li {
        padding-left: 60px;
        padding-right: 60px;
      }
    }
  }

  aside {
    width: 320px;
    flex-shrink: 0;
    margin-left: 30px;
    .sticky {
      position: sticky;
      top: 30px;
      bottom: 0;
      .box {
        padding: 20px;
        display: flex;
        flex-direction: column;
        &.outlined {
          border: 1px solid #e3e3e3;
        }
        &.white {
          background: white;
          box-shadow: 0 4px 8px rgba(black, 0.1);
        }
        & + .box {
          margin-top: 30px;
        }
      }
    }
    dl {
      display: flex;
      justify-content: space-between;
      margin: 0;
      & + dl {
        margin-top: 10px;
      }
      dt {
        font-size: 16px;
        font-family: $bold;
        line-height: 24px;
        color: $grey-7;
      }
      dd {
        a {
          color: $blue-0;
          text-decoration: underline;
          font-size: 16px;
          &:hover,
          &:focus {
            color: $orange-3;
          }
          &:focus {
            outline: 0;
            box-shadow: 0 0 0 4px white, 0 0 0 6px $orange-3;
            border-radius: 1px;
          }
        }
      }
    }
    button#order {
      margin-top: 20px;
      width: 100%;
    }
    h4 {
      font-size: 16px;
      font-family: $bold;
      line-height: 24px;
      color: $grey-7;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      font-family: $regular;
      line-height: 24px;
      color: $grey-7;
    }
    textarea {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      border-radius: 3px;
      border: 1px solid $grey-1;
      background: white;
      padding: 10px;
      box-sizing: border-box;
      margin: 20px 0;
      color: $grey-7;
      &:focus {
        outline: 0;
      }
    }
    button#ask {
      align-self: flex-start;
    }
  }
}
