main#product {
  background: $grey-0;
  @include widescreen {
    padding-bottom: 40px;
  }
  @include desktop {
    padding-bottom: vw(40px);
  }
  @include tablet {
    padding-top: 9vw;
  }
  @include mobile {
    padding-top: 21vw;
  }
  &.discontinued {
    main section {
      h1,
      h2.blue,
      h3,
      h4,
      img,
      p,
      a,
      table {
        filter: grayscale(1) opacity(0.6);
      }
    }
  }
  .liner {
    margin: 0 auto;
    // TEMPORARY: until we can place orders via website
    // max-width: 1150px;
    @include widescreen {
      max-width: 720px;
      padding: 30px;
    }
    @include desktop {
      max-width: vw(720px);
      padding: vw(30px);
    }
    @include tablet {
      padding: 3vw;
    }
    @include mobile {
      padding: 0 0 16vw;
    }
  }
  .columns {
    display: flex;
  }
  article {
    width: 100%;
    @include widescreen {
      max-width: 720px;
    }
    @include desktop {
      max-width: vw(720px);
    }
    section {
      background: white;
      box-shadow: 0 4px 8px rgba(black, 0.05);
      & + section {
        @include widescreen {
          margin-top: 20px;
        }
        @include desktop {
          margin-top: vw(20px);
        }
        @include tablet {
          margin-top: 2vw;
        }
        @include mobile {
          margin-top: 6vw;
        }
      }
      > div {
        display: flex;
        flex-direction: column;
      }
    }
    h1 {
      // @include white-on-blue-text(1);
      font-family: $extrabold;
      background: $blue-3;
      color: white;
      line-height: 145%;
      border-radius: 2px;
      @include widescreen {
        font-size: px(2.9vw);
        padding: px(0.2vw) px(1.4vw) 0;
      }
      @include desktop {
        font-size: 2.9vw;
        padding: 0.2vw 1.4vw 0;
      }
      @include tablet {
        font-size: 4.8vw;
        padding: 0.36vw 1.8vw 0;
      }
      @include mobile {
        font-size: 9vw;
        padding: 0.6vw 3vw 0;
      }
    }
    h2 {
      font-family: $regular;
      background: $grey-1;
      color: white;
      line-height: 165%;
      border-radius: 2px;
      @include widescreen {
        font-size: px(1.5vw);
        padding: px(0.1vw) px(0.8vw) 0;
      }
      @include desktop {
        font-size: 1.5vw;
        padding: 0.1vw 0.8vw 0;
      }
      @include tablet {
        font-size: 2.5vw;
        padding: 0.06vw 1.68vw 0;
      }
      @include mobile {
        font-size: 5vw;
        padding: 0.2vw 3vw 0;
      }
      &.blue {
        background: $blue-0;
      }
      &.orange {
        background: $orange-2;
        font-family: $bold;
      }
      &.grey {
        background: $grey-3;
      }
      &.red {
        background: $red-1;
      }
    }
    h3 {
      font-family: $extrabold;
      color: $grey-7;
      @include widescreen {
        font-size: px(1.583vw);
        padding: 50px;
      }
      @include desktop {
        font-size: 1.583vw;
        padding: vw(50px);
      }
      @include tablet {
        font-size: 2.9vw;
        padding: 8vw 6vw;
      }
      @include mobile {
        font-size: 6vw;
        padding: 16vw 6vw;
      }
    }
    h4 {
      font-family: $bold;
      font-size: 16px;
      color: white;
      background: $blue-3;
      align-self: flex-start;
      @include widescreen {
        font-size: px(1.33vw);
        padding: px(0.5vw) px(0.5vw) px(0.35vw);
      }
      @include desktop {
        font-size: 1.33vw;
        padding: 0.5vw 0.5vw 0.35vw;
      }
      @include tablet {
        font-size: 2.2vw;
        padding: 1vw 1.6vw 0.8vw;
      }
      @include mobile {
        font-size: 5vw;
        padding: 1.2vw 2vw 1vw;
      }
    }
    h1 + .tags {
      @include widescreen {
        margin-top: px(1.4vw);
      }
      @include desktop {
        margin-top: 1.4vw;
      }
      @include tablet {
        margin-top: 2vw;
      }
      @include mobile {
        margin-top: 3vw;
      }
    }
    h2 + h2 {
      @include widescreen {
        margin-left: px(1.4vw);
      }
      @include desktop {
        margin-left: 1.4vw;
      }
      @include tablet {
        margin-left: 2vw;
      }
      @include mobile {
        margin-left: 3vw;
      }
    }
    .tags {
      & + #pitch,
      & + #replaced-by {
        @include widescreen {
          margin-top: px(3vw);
        }
        @include desktop {
          margin-top: 3vw;
        }
        @include tablet {
          margin-top: 4vw;
        }
        @include mobile {
          margin-top: 7vw;
        }
      }
    }
    #title + #avatar {
      @include widescreen {
        margin-top: px(1.66vw);
      }
      @include desktop {
        margin-top: 1.66vw;
      }
      @include tablet {
        margin-top: 4vw;
      }
      @include mobile {
        margin-top: 6vw;
      }
    }
    h4 + p,
    h4 + table {
      @include widescreen {
        margin-top: px(1.33vw);
      }
      @include desktop {
        margin-top: 1.33vw;
      }
      @include tablet {
        margin-top: 3vw;
      }
      @include mobile {
        margin-top: 6vw;
      }
    }
    p + h4,
    table + h4,
    blockquote + p {
      @include widescreen {
        margin-top: px(2.66vw);
      }
      @include desktop {
        margin-top: 2.66vw;
      }
      @include tablet {
        margin-top: 5vw;
      }
      @include mobile {
        margin-top: 12vw;
      }
    }
    .single-column,
    .two-columns {
      @include widescreen {
        padding: 0 50px 50px;
      }
      @include desktop {
        padding: 0 vw(50px) vw(50px);
      }
      @include tablet {
        padding: 0 6vw 6vw;
      }
      @include mobile {
        padding: 0 6vw 16vw;
      }
    }
    .single-column {
      display: flex;
      flex-direction: column;
    }
    .two-columns {
      @include widescreen {
        column-count: 2;
        column-gap: 50px;
      }
      @include desktop {
        column-count: 2;
        column-gap: vw(50px);
      }
    }
    blockquote {
      p {
        color: white;
        line-height: 150%;
        font-family: $semibold;
        display: flex;
        flex-flow: wrap;
        @include widescreen {
          font-size: px(2.4vw);
        }
        @include desktop {
          font-size: 2.4vw;
        }
        @include tablet {
          font-size: 10vw;
        }
        @include mobile {
          font-size: 7vw;
        }
        span {
          flex-shrink: 0;
          line-height: 100%;
          margin-bottom: 2px;
          &.word {
            background: $green-1;
            padding: 6px 6px 4px;
            margin-right: -5px;
          }
          &.space {
            width: 2px;
          }
        }
        sup {
          font-size: 65%;
        }
      }
    }
    dl {
      display: flex;
      flex-wrap: wrap;
      @include widescreen {
        padding: 0 35px 35px;
      }
      @include desktop {
        padding: 0 vw(35px) vw(35px);
      }
      @include tablet {
        padding: 0 6vw 3vw;
        width: calc(100% - 6vw);
        transform: translateX(-3vw);
      }
      @include mobile {
        width: 100vw;
      }
      dt,
      dd {
        @include paragraph;
        box-sizing: border-box;
        line-height: 150%;
        @include widescreen {
          padding: 10px 15px;
        }
        @include desktop {
          padding: vw(10px) vw(15px);
        }
        @include tablet {
          padding: 2vw 3vw;
        }
        @include mobile {
          padding: 4vw 6vw;
        }
        &:nth-of-type(odd) {
          background: $grey-0;
        }
      }
      dt {
        @include widescreen {
          width: 30%;
        }
        @include desktop {
          width: 30%;
        }
        @include tablet {
          width: 100%;
          padding-bottom: 1vw;
        }
        @include mobile {
          width: 100%;
          padding-bottom: 1vw;
        }
        &:after {
          @include tablet {
            content: ':';
          }
          @include mobile {
            content: ':';
          }
          content: ':';
        }
      }
      dd {
        @include widescreen {
          width: 70%;
        }
        @include desktop {
          width: 70%;
        }
        @include tablet {
          width: 100%;
          padding-top: 0;
        }
        @include mobile {
          width: 100%;
          padding-top: 0;
        }
        ul {
          li {
            line-height: 150%;
          }
        }
      }
    }
    table {
      border-spacing: 0;
      @include tablet {
        width: calc(100% + 6vw);
        transform: translateX(-3vw);
      }
      @include mobile {
        width: 100vw;
        transform: translateX(-6vw);
      }
      thead {
        @include mobile {
          display: none;
        }
      }
      tr {
        @include mobile {
          display: flex;
          flex-direction: column;
          padding: 6vw;
        }
        &:nth-child(even) {
          @include tablet {
            background: $grey-0;
          }
        }
        &:nth-child(odd) {
          @include mobile {
            background: $grey-0;
          }
        }
        &:first-child {
          th {
            @include widescreen {
              border-top: 1px solid $grey-1;
            }
            @include desktop {
              border-top: 1px solid $grey-1;
            }
            @include tablet {
              border-top: 1px solid $grey-1;
            }
          }
        }
        td,
        th {
          @include paragraph;
          flex-shrink: 0;
          text-align: left;
          box-sizing: border-box;
          line-height: 150%;
          @include widescreen {
            border-bottom: 1px solid $grey-1;
            border-right: 1px solid $grey-1;
            padding: 10px 15px;
          }
          @include desktop {
            border-bottom: 1px solid $grey-1;
            border-right: 1px solid $grey-1;
            padding: vw(10px) vw(15px);
          }
          @include tablet {
            border-bottom: 1px solid $grey-1;
            border-right: 1px solid $grey-1;
            padding: 1vw 3vw;
          }
          @include mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
          }
          &:first-child {
            @include tablet {
              border-left: 1px solid $grey-1;
            }
            @include widescreen {
              border-left: 1px solid $grey-1;
            }
            @include desktop {
              border-left: 1px solid $grey-1;
            }
          }
        }
        th {
          font-family: $regular;
          color: $grey-7;
          background: $grey-0;
        }
      }
    }
    #hero {
      @include widescreen {
        padding: 50px;
      }
      @include desktop {
        padding: vw(50px);
      }
      @include tablet {
        padding: 6vw;
      }
      @include mobile {
        padding: 16vw 6vw;
      }
      #title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .tags {
          display: flex;
        }
      }
      #avatar {
        @include widescreen {
          margin-top: px(3vw);
        }
        @include desktop {
          margin-top: 3vw;
        }
        @include tablet {
          //
        }
        @include mobile {
          width: calc(100vw);
          transform: translateX(-6vw);
        }
      }
      #images {
        padding: 0;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        @include widescreen {
          gap: 5px;
          margin-top: 5px;
        }
        @include desktop {
          gap: vw(5px);
          margin-top: vw(5px);
        }
        @include tablet {
          gap: 1vw;
          margin-top: 1vw;
        }
        @include mobile {
          gap: 1.5vw;
          margin-top: 1.5vw;
          width: calc(100vw);
          transform: translateX(-6vw);
        }
        button {
          outline: 0;
          border: 0;
          padding: 0;
          transition: transform 100ms ease;
          outline: 0 solid white;
          box-shadow: 0;
          transform: scale(1);
          cursor: pointer;
          &:hover,
          &:focus {
            z-index: 1;
            transform: scale(1.15);
          }
          &.hero {
            z-index: 2;
            transform: scale(1.3);
          }
          &:hover,
          &:focus,
          &.hero {
            transform-origin: center;
            @include widescreen {
              box-shadow: 0 px(0.2vw) px(0.3vw) rgba(black, 0.2);
              outline: 4px solid white;
            }
            @include desktop {
              box-shadow: 0 0.2vw 0.3vw rgba(black, 0.2);
              outline: vw(4px) solid white;
            }
            @include tablet {
              box-shadow: 0 0.5vw 0.8vw rgba(black, 0.2);
              outline: 0.8vw solid white;
            }
            @include mobile {
              box-shadow: 0 1vw 2vw rgba(black, 0.2);
              outline: 1.5vw solid white;
            }
          }
          figure {
            @include widescreen {
              // max 10 thumbs in a row
              // keep even number so that 11th would center more aesthetically
              // 620 - (57.5 * 10) - (5 * 9) = 57.5px
              width: 57.5px;
              height: 57.5px;
            }
            @include desktop {
              width: vw(57.5px);
              height: vw(57.5px);
            }
            @include tablet {
              // max 8 thumbs in one row
              // keep even number so that 9th would center more aesthetically
              // 100 - 3 - 6 - 6 - 3 - 7 = 75vw to divide by 8
              width: calc(75vw / 8);
              height: calc(75vw / 8);
            }
            @include mobile {
              // max 6 thumbs in one row
              // keep even number so that 7th would center more aesthetically
              // 100 - (7 * 1.5) = 89.5vw to divide by 6
              width: calc(89.5vw / 6);
              height: calc(89.5vw / 6);
            }
            figcaption {
              display: none;
            }
          }
        }
      }
    }

    section#compliance {
      table {
        td,
        th {
          &:nth-child(1) {
            flex: 4;
          }
          &:nth-child(2) {
            flex: 1;
          }
          &:nth-child(3) {
            flex: 5;
          }
          mark {
            display: inline-block;
            font-family: $semibold;
            background: $green-1;
            color: white;
            line-height: 100%;
            padding: 4px;
            border-radius: 2px;
            white-space: nowrap;
          }
        }
      }
    }

    ul.accordion {
      @include widescreen {
        margin-bottom: 50px;
      }
      @include desktop {
        margin-bottom: vw(50px);
      }
      @include tablet {
        margin-bottom: 6vw;
      }
      @include mobile {
        margin-bottom: 6vw;
      }
      > li {
        @include widescreen {
          padding-left: 50px;
          padding-right: 50px;
        }
        @include desktop {
          padding-left: vw(50px);
          padding-right: vw(50px);
        }
        @include tablet {
          padding: 0 6vw;
        }
        @include mobile {
          padding: 0 6vw;
        }
      }
    }
  }

  // TEMPORARY: until we can place orders via website
  // aside {
  //   width: 320px;
  //   flex-shrink: 0;
  //   margin-left: 30px;
  //   .sticky {
  //     position: sticky;
  //     top: 30px;
  //     bottom: 0;
  //     .box {
  //       padding: 20px;
  //       display: flex;
  //       flex-direction: column;
  //       &.outlined {
  //         border: 1px solid #e3e3e3;
  //       }
  //       &.white {
  //         background: white;
  //         box-shadow: 0 4px 8px rgba(black, 0.1);
  //       }
  //       & + .box {
  //         margin-top: 30px;
  //       }
  //     }
  //   }
  //   dl {
  //     display: flex;
  //     justify-content: space-between;
  //     margin: 0;
  //     & + dl {
  //       margin-top: 10px;
  //     }
  //     dt {
  //       font-size: 16px;
  //       font-family: $bold;
  //       line-height: 24px;
  //       color: $grey-7;
  //     }
  //     dd {
  //       a {
  //         color: $blue-0;
  //         text-decoration: underline;
  //         font-size: 16px;
  //         &:hover,
  //         &:focus {
  //           color: $orange-3;
  //         }
  //         &:focus {
  //           outline: 0;
  //           box-shadow: 0 0 0 4px white, 0 0 0 6px $orange-3;
  //           border-radius: 1px;
  //         }
  //       }
  //     }
  //   }
  //   button#order {
  //     margin-top: 20px;
  //     width: 100%;
  //   }
  //   h4 {
  //     font-size: 16px;
  //     font-family: $bold;
  //     line-height: 24px;
  //     color: $grey-7;
  //     margin-bottom: 10px;
  //   }
  //   p {
  //     font-size: 16px;
  //     font-family: $regular;
  //     line-height: 24px;
  //     color: $grey-7;
  //   }
  //   textarea {
  //     max-width: 100%;
  //     min-width: 100%;
  //     width: 100%;
  //     border-radius: 3px;
  //     border: 1px solid $grey-1;
  //     background: white;
  //     padding: 10px;
  //     box-sizing: border-box;
  //     margin: 20px 0;
  //     color: $grey-7;
  //     &:focus {
  //       outline: 0;
  //     }
  //   }
  //   button#ask {
  //     align-self: flex-start;
  //   }
  // }
}
