{{#if icon}}
  <i class="fa fa-{{icon}}"></i>
{{/if}}
{{#if (and textBusy textIdle)}}
  <span>{{if isRunning textBusy textIdle}}</span>
{{/if}}
{{yield}}
{{#if error}}
  <div class="error">
    <p>{{error}}</p>
  </div>
{{/if}}