@keyframes fade-slide-in-from-left {
  from {
    opacity: 0;
    transform: translateX(-10vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

header#mobile {
  position: relative;
  // z-index: 1 is for #page
  // z-index: 2 is for header#mobile
  // z-index: 3 is for #modal
  z-index: 2;

  &.open {
    .top {
      background: rgba($blue-5, 0.95);
      #logo {
        .clip {
          @include tablet {
            top: 33vw; // TODO
            left: 15vw; // TODO
            width: 70vw; // TODO
            height: 19vw; // TODO
          }
          @include mobile {
            top: 31vw;
            left: 13vw;
            width: 70vw;
            height: 19vw;
          }
          svg {
            width: 63vw;
            transform: translate(1.4vw, 1.7vw);
          }
        }
      }
    }
    .mid {
      background: rgba($blue-5, 0.95);
      background: radial-gradient(
        circle,
        rgba($blue-4, 0.95) 0%,
        rgba($blue-5, 0.95) 80%
      );
      padding: 12vw 0;
      min-height: calc(100vh - 21vw);
      a,
      .logo {
        animation-name: fade-slide-in-from-left;
        animation-duration: 1000ms;
        animation-timing-function: $easeOutExpo;
        animation-fill-mode: both;
        &:nth-of-type(1) {
          animation-delay: 100ms;
        }
        &:nth-of-type(2) {
          animation-delay: 300ms;
        }
        &:nth-of-type(3) {
          animation-delay: 500ms;
        }
        &:nth-of-type(4) {
          animation-delay: 700ms;
        }
      }
    }
  }

  &.closed {
    &.scrolling-down {
      .top {
        transform: translateY(-21vw);
      }
    }
    .top {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      background: rgba($blue-5, 0.95);
    }
    .logo {
      pointer-events: none;
      height: 0;
    }
    .mid {
      background: rgba($blue-5, 0);
      pointer-events: none;
      height: 0;
    }
  }

  &.no-back-button {
    .logo {
      visibility: hidden;
    }
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all $easeOutExpo 500ms;
    transition-property: background, transform;
    @include tablet {
      height: 21vw; // TODO
    }
    @include mobile {
      height: 21vw;
    }
  }
  .mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background $easeOutExpo 500ms;
    overflow: hidden;
    box-sizing: border-box;
  }
  .logo {
    box-sizing: border-box;
    padding: 2vw 5vw;
    width: 70vw;
    background: white;
    margin-bottom: 10vw;
    svg {
      width: 100%;
      height: auto;
      transform: translateX(-3vw);
    }
  }
  #logo {
    position: relative;
    @include tablet {
      margin: 2vw; // TODO
      width: 17vw; // TODO
      height: 17vw; // TODO
    }
    @include mobile {
      margin: 2vw;
      width: 17vw;
      height: 17vw;
    }
    .clip {
      position: absolute;
      overflow: hidden;
      background: white;
      z-index: 1;
      transition: all $easeOutExpo 800ms;
      top: 0;
      left: 0;
      @include tablet {
        width: 17vw; // TODO
        height: 17vw; // TODO
      }
      @include mobile {
        width: 17vw;
        height: 17vw;
      }
      svg {
        height: auto;
        transition: all $easeOutExpo 800ms;
        @include tablet {
          width: 80vw; // TODO
          transform: translate(-10.5vw, 1.3vw); // TODO
        }
        @include mobile {
          width: 80vw;
          transform: translate(-10.5vw, 1.3vw);
        }
      }
    }
  }
  h1 {
    font-family: $extrabold;
    color: white;
    line-height: 120%;
    text-align: center;
    max-height: calc(5.625vw * 1.3 * 2); // max 2 lines
    overflow: hidden;
    @include tablet {
      font-size: 5.625vw; // TODO
    }
    @include mobile {
      font-size: 5.625vw;
    }
  }
}
