ul.accordion {
  > li {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $grey-1;
    &:first-child {
      border-top: 1px solid $grey-1;
    }
    &.expanded {
      .right {
        svg {
          transform: rotate(90deg);
        }
      }
      button,
      .no-content {
        @include widescreen {
          padding-top: px(2vw);
        }
        @include desktop {
          padding-top: 2vw;
        }
        @include tablet {
          padding-top: 6vw; // TODO
          padding-bottom: 6vw; // TODO
        }
        @include mobile {
          padding-top: 6vw;
          padding-bottom: 6vw;
        }
      }
      .content {
        height: auto;
        @include widescreen {
          padding-bottom: px(4vw);
        }
        @include desktop {
          padding-bottom: 4vw;
        }
        @include tablet {
          padding-bottom: 12vw; // TODO
        }
        @include mobile {
          padding-bottom: 12vw;
        }
      }
    }
    button {
      cursor: pointer;
    }
    button,
    .no-content {
      background: none;
      border: 0;
      outline: 0;
      padding: 0;
      display: flex;
      align-items: center;
      transition: 500ms padding $easeOutExpo;
      @include widescreen {
        padding: px(0.8vw) 0;
      }
      @include desktop {
        padding: 0.8vw 0;
      }
      @include tablet {
        padding: 1.2vw 0;
      }
      @include mobile {
        padding: 4vw 0;
      }
      &:hover,
      &:focus {
        span {
          color: $blue-0;
        }
        .arrow {
          svg {
            [fill] {
              fill: $blue-0;
            }
          }
        }
      }
      .left {
        flex-shrink: 0;
        picture {
          display: block;
          height: auto;
          flex-shrink: 0;
          @include widescreen {
            width: px(4vw);
            height: px(4vw);
          }
          @include desktop {
            width: 4vw;
            height: 4vw;
          }
          @include tablet {
            width: 8vw;
            height: 8vw;
          }
          @include mobile {
            width: 13vw;
            height: 13vw;
          }
        }
      }
      .middle {
        width: 100%;
        text-align: left;
        @include widescreen {
          padding-left: px(2vw);
        }
        @include desktop {
          padding-left: 2vw;
        }
        @include tablet {
          padding-left: 3vw;
        }
        @include mobile {
          padding-left: 4vw;
        }
      }
      .right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        @include widescreen {
          width: px(4vw);
          height: px(4vw);
        }
        @include desktop {
          width: 4vw;
          height: 4vw;
        }
        @include tablet {
          width: 4vw;
          height: 8vw;
        }
        @include mobile {
          width: 6vw;
          height: 12vw;
        }
        svg {
          width: 7px;
          height: auto;
          transform: rotate(0deg);
          transition: transform 500ms $easeOutExpo;
          [fill] {
            fill: $grey-3;
          }
        }
      }
    }
    .content {
      height: 0;
      overflow: hidden;
      box-sizing: border-box;
      transition: 500ms all $easeOutExpo;
      transition-property: padding, height;
      @include widescreen {
        padding-left: px(6vw);
      }
      @include desktop {
        padding-left: 6vw;
      }
    }
  }
}
