<div class="text">
  <h2>{{@product.name}}</h2>
  <h3>{{@product.family.nameSingle}}</h3>
</div>
<img
  src="{{cdn}}/images/products/IF-2005C/IF-2005C-10L-angle@400x400.jpg"
  width="400"
  height="400"
  alt=""
>
<button>
  <span>Explore</span>
  <Icon @name="arrow-right" />
</button>