<section id='events'>
  <div class='stage'>
    <h2 class='ds h3'>Meet Interflux & partners</h2>

    <ul>
      {{#each this.events as |event|}}
        <li>
          <p class='ds p'>{{event.date}}</p>
          <h4 class='ds h4'>{{event.name}}</h4>
          <p class='ds p'>{{event.location}}</p>
          <Tag @text={{event.callToAction}} @color='orange' />
          <div class='pointer'>
            <div class='triangle'></div>
            <div class='dash'></div>
            <div class='circle'></div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</section>