// The <Form::Textarea> is nearly identical to the <Form::Input> and thus inherits all its styles.
// See the <Form::Input> CSS, except for these overwrites:

.textarea {
  &.primary {
    height: auto;
    min-height: calc(11px * 2 + 4 * 24px);

    p[contenteditable] {
      padding: 11px 15px 61px 15px;
    }

    .action {
      position: relative;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      box-sizing: border-box;
      margin-top: -60px;
      button {
        width: auto;
      }
    }

    textarea,
    [role='textbox'] {
      line-height: 150%;
      padding: 11px 46px 11px 15px;
      height: auto;
      display: block;
      resize: vertical;
      min-height: calc(11px * 2 + 4 * 24px);
    }
  }
}
