<Page @id="products-loading">
  <Header />

  <main>
    <Breadcrumbs @crumbs={{array
      (hash label='Interflux' route='home')
      (hash label='Loading ...')
    }} />

    <article>
      <LoadingSpinner @message="Loading products ..." />
    </article>
  </main>

  <Footer />
</Page>