<Page @id="products">
  <Header />

  <Section @class="temporary">
    <h1>Products</h1>
    <ul>
      {{#each @model.families as |family|}}
        <li>
          <Button::Route
            @route="products.family"
            @model={{family.slug}}
            @text="{{capitalise family.namePlural}} ({{family.count}})"
            @size="medium"
            @style="grey-border"
          />
        </li>
      {{/each}}
    </ul>
  </Section>

  <Footer />
</Page>