<Page @id="products">
  <Section @class="temporary">
    <Button::Route
      @route="home"
      @text="Home"
      @size="small"
      @style="blue-2"
    />
    <h1>Products</h1>
    <ul>
      {{#each @model.families as |family|}}
        <li>
          <Button::Route
            @route="products.family"
            @model={{family.slug}}
            @text={{family.namePlural}}
            @size="medium"
            @style="white grey-border"
          />
        </li>
      {{/each}}
    </ul>
  </Section>
</Page>