[Unit]
Description=This service daemonizes Ember Fastboot for interflux.cn.com

[Service]
Type=simple
User=admin
Group=admin
ExecStart=/home/admin/.nvm/versions/node/v18.12.1/bin/node fastboot.js
WorkingDirectory=/var/www/interflux.cn.com
StandardOutput=file:/var/www/interflux.cn.com/logs/fastboot/access.log
StandardError=file:/var/www/interflux.cn.com/logs/fastboot/error.log

[Install]
WantedBy=multi-user.target