[Unit]
Description=This service daemonizes Ember Fastboot for interflux.fr

[Service]
Type=simple
User=admin
Group=admin
WorkingDirectory=/var/www/interflux.fr
ExecStart=/home/admin/.nvm/versions/node/v18.12.1/bin/node fastboot.js
StandardOutput=file:logs/fastboot-access.log
StandardError=file:logs/fastboot-error.log

[Install]
WantedBy=multi-user.target