main.page {
  min-height: 100vh;
  @include widescreen {
    padding-bottom: 120px;
  }
  @include desktop {
    padding-bottom: vw(120);
  }
  @include tablet {
    padding-bottom: 10vw; // TODO
  }
  @include mobile {
    padding-bottom: 10vw; // TODO
  }
  section {
    background: white;
    > h1 {
      font-family: $nunito-sans-bold;
      background: $interflux-blue;
      color: white;
      text-align: center;
      margin-bottom: 30px;
      line-height: 500%;
      @include widescreen {
        font-size: 32px;
        // line-height: 70px;
      }
      @include desktop {
        font-size: vw(32);
        // line-height: vw(70);
      }
      @include tablet {
        font-size: 10vw; // TODO
        // line-height: 10vw; // TODO
      }
      @include mobile {
        font-size: 10vw; // TODO
        // line-height: 10vw; // TODO
      }
    }
    > .icon {
      margin: 0 auto;
    }
  }
}
