body {
  background: $blue-4;
}
main.page {
  display: flex;
  min-height: 100vh;
  background: $blue-4;
  > section {
    width: 100%;
    padding: 30px;
    &.center {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p {
        margin: 0;
        & + p {
          margin-top: 16px;
        }
      }
    }
    > h1 {
      font-size: 30px;
      color: white;
      margin-bottom: 30px;
    }
    p {
      color: white;
    }
  }
}
