.product-set {
  &.row {
    display: flex;

    @include widescreen {
      max-height: 170px;
      max-width: 840px;
    }
    @include desktop {
      max-height: 170px;
      max-width: vw(840);
    }
    @include tablet {
      max-height: 90vw; // TODO
    }
    @include mobile {
      max-height: 90vw; // TODO
    }
    > a {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: center;
      flex-wrap: nowrap;
      transition: background-color 200ms ease;
      padding: 10px;
      border-radius: 2px;
      &:hover {
        background: #eee;
      }
    }
    .product-card {
      & + .product-card {
        margin-left: 10px;
        @include widescreen {
          margin-left: 10px;
        }
        @include desktop {
          margin-left: vw(10);
        }
        @include tablet {
          max-height: 90vw; // TODO
        }
        @include mobile {
          max-height: 90vw; // TODO
        }
      }
    }
  }

  &.grid {
    &.quatro {
      .liner {
        max-width: 680px; // 30px + 300px + 20px + 300px + 30px
      }
    }
    .liner {
      max-width: 1020px; // 30px + 300px + 20px + 300px + 20px + 300px + 30px
      padding: 0 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: center;
    }
    a {
      @include widescreen {
        margin: 10px;
      }
      @include desktop {
        margin: vw(10) 0;
      }
      @include tablet {
        margin: 10vw; // TODO
      }
      @include mobile {
        margin: 10vw; // TODO
      }
    }
  }
}
