.page > header#desktop {
  box-shadow: 0 2px 2px rgba(black, 0.1);
  background: white;
  z-index: 1;
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
  .liner {
    display: flex;
    justify-content: space-between;
  }
  .left {
    display: flex;
    a#logo {
      display: flex;
      justify-content: center;
      @include widescreen {
        padding: px(1vw) px(2vw);
      }
      @include desktop {
        padding: 1vw 2vw;
      }
      img {
        width: auto; // don't make height auto or Safari will explode
        @include widescreen {
          height: px(4.5vw);
        }
        @include desktop {
          height: 4.5vw;
        }
      }
    }
    a:not(#logo) {
      position: relative;
      color: $paragraph-color-1;
      display: flex;
      align-items: center;
      @include widescreen {
        margin-right: px(0.3vw);
      }
      @include desktop {
        margin-right: 0.3vw;
      }
      span {
        font-family: $bold;
      }
      &:hover {
        span {
          color: $blue-0;
          text-decoration: underline;
        }
      }
      &:focus {
        span {
          color: $orange-3;
          outline: 1px solid $orange-3;
        }
      }
    }
  }
  // .right {
  //   display: flex;
  //   a {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     border-left: 1px solid #eaeaea;
  //     box-sizing: content-box;
  //     margin-top: -1px;
  //     margin-left: -1px;
  //     transition: border-color 200ms ease;
  //     padding: 0;
  //     border-radius: 0;
  //     path[fill] {
  //       fill: #6d6d6d;
  //     }
  //     i {
  //       transition: transform 200ms ease;
  //       height: 40%;
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //       @include widescreen {
  //         height: px(6vw);
  //         width: px(6vw);
  //       }
  //       @include desktop {
  //         height: 6vw;
  //         width: 6vw;
  //       }
  //       svg {
  //         height: 40%;
  //         width: auto;
  //       }
  //     }
  //     &:hover {
  //       border-color: $orange-1;
  //       z-index: 1;
  //       i {
  //         transform: scale(1.2);
  //       }
  //       [fill] {
  //         fill: $orange-3;
  //       }
  //     }
  //   }
  // }
}

.page > header#mobile {
  background: linear-gradient(180deg, #1b456f 0%, #23578c 30%, #23578c 100%);
  @include widescreen {
    display: none;
  }
  @include desktop {
    display: none;
  }
  @include tablet {
    height: 10vw;
  }
  @include mobile {
    height: 15vw;
  }
  .liner {
    display: flex;
  }
  svg {
    [fill] {
      fill: white;
    }
  }
  a {
    padding: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      @include tablet {
        width: 10vw;
        height: 10vw;
      }
      @include mobile {
        width: 15vw;
        height: 15vw;
      }
      svg {
        width: 40%;
        height: auto;
      }
    }
    &#logo {
      flex: 1;
      display: flex;
      svg {
        height: 40%;
        width: auto;
      }
      img {
        width: auto;
        @include tablet {
          height: 7vw;
        }
        @include mobile {
          height: 10vw;
        }
      }
    }
    &:not(#logo) {
      width: auto;
      border-left: 1px solid #ffffff26;
    }
  }
}
