{{#if (or this.media.isMobile this.media.isTablet)}}
  <header
    id="mobile"
    role="banner"
    aria-label="site"
  >
    <nav
      class="liner"
      aria-label="page"
    >
      <Button::Route
        @route="index"
        @id="logo"
      >
        <i>
          <Svg::Hamburger />
        </i>
        <img
          src="{{env 'cdnHost'}}/images/logos/secondary-interflux-electronics-logo-1-transparent.svg"
          width="100"
          height="100"
          alt="Interflux Electronics"
        />
      </Button::Route>

      {{!-- <Button::Route
      @route="index"
      @icon="search"
    />

    <Button::Route
      @route="index"
      @icon="user"
    /> --}}
    </nav>
  </header>
{{/if}}

{{#if (or this.media.isDesktop this.media.isWidescreen)}}
  <header
    id="desktop"
    role="banner"
    aria-label="site"
  >
    <nav
      class="liner"
      aria-label="page"
    >
      <div class="left">
        <Button::Route
          @route="index"
          @text="Home"
          @id="logo"
        >
          <img
            src="{{env 'cdnHost'}}/images/logos/primary-interflux-electronics-logo-1.svg"
            width="3960"
            height="1000"
            alt="Interflux Electronics"
          />
        </Button::Route>

        <Button::Route
          @route="home.products"
          @text="Products"
        />

        {{!-- <Button::Route
          @route="processes"
          @text="Processes"
        /> --}}

        <Button::Route
          @route="company"
          @text="Company"
        />

        <Button::Route
          @route="documents"
          @text="Documents"
        />

        <Button::Route
          @route="contact"
          @text="Contact"
        />
      </div>

      {{!-- <Svg::ArrowRight /> --}}

      {{!-- <div class="right">
      <Button::Route
        @route="index"
        @icon="search"
      />
      <Button::Route
        @route="index"
        @icon="geo-marker"
      />
      <Button::Route
        @route="index"
        @icon="shopping-cart"
      />
      <Button::Route
        @route="index"
        @icon="user"
      />
    </div> --}}
    </nav>
  </header>
{{/if}}