.button {
  display: inline-block;
  position: relative;
  background: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;

  // Sizes

  &.large {
    font-family: $bold;
    border: 1px solid transparent;

    @include widescreen {
      font-size: 16px;
      line-height: 44px;
      border-radius: 3px;
      padding: 0 30px;
    }
    @include desktop {
      font-size: vw(16px);
      line-height: vw(44px);
      border-radius: vw(3px);
      padding: 0 vw(30px);
    }
    @include tablet {
      font-size: 2.3vw; // TODO
      line-height: 44px; // TODO
      border-radius: 3px; // TODO
      padding: 0 30px; // TODO
    }
    @include mobile {
      font-size: 5vw; // TODO
      line-height: 44px; // TODO
      border-radius: 3px; // TODO
      padding: 0 30px; // TODO
    }

    &.has-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      &.icon-left {
        .icon {
          @include widescreen {
            margin-right: 10px;
          }
          @include desktop {
            margin-right: vw(10px);
          }
          @include tablet {
            margin-right: vw-tablet(10px);
          }
          @include mobile {
            margin-right: vw-mobile(10px);
          }
        }
      }
      &.icon-floats-left {
        position: relative;
        padding: 0 46px;
        .icon {
          position: absolute;
          width: 46px;
          height: 100%;
          left: 0;
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            max-width: 60%;
            max-height: 60%;
            height: auto;
            &.truck {
              transform: translate(12%, 2%);
              width: 55%;
            }
            &.people {
              transform: translate(11%, 1%);
              width: 55%;
            }
          }
        }
      }
    }
  }

  &.medium {
    font-family: $semibold;
    border: 1px solid transparent;

    @include widescreen {
      font-size: 16px;
      line-height: 32px;
      border-radius: 3px;
      padding: 0 13px;
    }
    @include desktop {
      font-size: vw(16px);
      line-height: vw(32px);
      border-radius: vw(3px);
      padding: 0 vw(13px);
    }
    @include tablet {
      font-size: vw-tablet(16px);
      line-height: vw-tablet(32px);
      border-radius: vw-tablet(3px);
      padding: 0 vw-tablet(13px);
    }
    @include mobile {
      font-size: vw-mobile(16px);
      line-height: vw-mobile(40px);
      border-radius: vw-mobile(3px);
      padding: 0 vw-mobile(15px);
    }
    &.has-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      &.icon-left {
        .icon {
          @include widescreen {
            margin-right: 10px;
          }
          @include desktop {
            margin-right: vw(10px);
          }
          @include tablet {
            margin-right: vw-tablet(10px);
          }
          @include mobile {
            margin-right: vw-mobile(10px);
          }
        }
      }
      &.icon-right {
        flex-direction: row-reverse;
        .icon {
          @include widescreen {
            margin-left: 10px;
          }
          @include desktop {
            margin-left: vw(10px);
          }
          @include tablet {
            margin-left: vw-tablet(10px);
          }
          @include mobile {
            margin-left: vw-mobile(10px);
          }
        }
      }
      &.arrow-down,
      &.arrow-up {
        svg {
          height: auto;
          @include widescreen {
            width: 11px;
          }
          @include desktop {
            width: vw(11px);
          }
          @include tablet {
            width: vw-tablet(11px);
          }
          @include mobile {
            width: vw-mobile(11px);
          }
        }
      }
      &.arrow-left,
      &.arrow-right {
        svg {
          width: auto;
          @include widescreen {
            height: 11px;
          }
          @include desktop {
            height: vw(11px);
          }
          @include tablet {
            height: vw-tablet(11px);
          }
          @include mobile {
            height: vw-mobile(11px);
          }
        }
      }
      &.lightbulb {
        svg {
          height: auto;
          @include widescreen {
            width: 15px;
          }
          @include desktop {
            width: vw(15px);
          }
          @include tablet {
            width: vw-tablet(15px);
          }
          @include mobile {
            width: vw-mobile(15px);
          }
        }
      }
      &.email,
      &.play,
      &.close {
        svg {
          height: auto;
          @include widescreen {
            width: 20px;
          }
          @include desktop {
            width: vw(20px);
          }
          @include tablet {
            width: vw-tablet(20px);
          }
          @include mobile {
            width: vw-mobile(20px);
          }
        }
      }
      &.cloud-download {
        svg {
          height: auto;
          @include widescreen {
            width: 24px;
          }
          @include desktop {
            width: vw(24px);
          }
          @include tablet {
            width: vw-tablet(24px);
          }
          @include mobile {
            width: vw-mobile(24px);
          }
        }
      }
      &.expand {
        svg {
          height: auto;
          @include widescreen {
            width: 24px;
          }
          @include desktop {
            width: vw(24px);
          }
          @include tablet {
            width: vw-tablet(24px);
          }
          @include mobile {
            width: vw-mobile(24px);
          }
        }
      }
    }
  }

  &.small {
    // Needed?
  }

  //
  // Primary buttons have white text and opaque background colours to stand out
  //
  &.primary {
    text-decoration: none;
    color: white;

    &.green {
      background: $green-1;
      border-color: $green-1;
      color: white;
      &:hover {
        background: $green-2;
        border-color: $green-2;
      }
      &:focus {
        box-shadow: white 0 0 0 2px, 0 0 0 4px $green-1;
        &:hover {
          box-shadow: white 0 0 0 2px, 0 0 0 4px $green-2;
        }
      }
    }

    &.orange {
      background: $orange-1;
      border-color: $orange-1;
      color: white;
      &:hover {
        background: $orange-3;
        border-color: $orange-3;
      }
      &:focus {
        box-shadow: white 0 0 0 2px, 0 0 0 4px $orange-1;
        &:hover {
          box-shadow: white 0 0 0 2px, 0 0 0 4px $orange-3;
        }
      }
    }

    &.has-icon {
      svg {
        [fill] {
          fill: white;
        }
      }
    }
  }

  // Secondary are meant to look less important than primary buttons, yet relevant to notice.
  // These typically have transparent backgrounds and border outlines.

  &.secondary {
    background: transparent;
    text-decoration: none;

    // Colors

    &.grey-border {
      border-color: $grey-2;
      color: $grey-6;
      svg {
        [fill] {
          fill: $grey-2;
        }
      }
    }

    &.white-border {
      border-color: rgba(white, 0.5);
      color: white;
      svg {
        [fill] {
          fill: white;
        }
      }
    }

    &.white-text-on-blue {
      color: white;
      border-radius: 3px;
      background-color: rgba($blue-5, 0.8);
      border: 2px solid $blue-3;
      &:hover,
      &:focus {
        background: rgba(white, 0.2);
        border-color: white;
        svg {
          [fill] {
            fill: white;
          }
        }
      }
      svg {
        [fill] {
          fill: white;
        }
      }
    }

    &.blue-focus {
      &:hover,
      &:focus {
        color: $blue-0;
        border-color: $blue-0;
        svg {
          [fill] {
            fill: $blue-0;
          }
        }
      }
      &:focus {
        box-shadow: 0 0 0 1px $blue-0 inset;
      }
    }

    &.orange {
      &:hover,
      &:focus {
        color: $orange-1;
        border-color: $orange-1;
        svg {
          [fill] {
            fill: $orange-1;
          }
        }
      }
      &:focus {
        box-shadow: 0 0 0 1px $orange-1;
      }
    }
  }

  // Tertiary buttons are meant to look less important than secondary and primary buttons.
  // Typically they look like links, but with an extended clickable area compared to hyperlinks
  // inline with paragraph text.

  &.tertiary {
    padding: 0;
    transition: padding 300ms $easeOutExpo;

    &.blue-text {
      color: $blue-0;
      &:focus,
      &:hover {
        outline: 2px solid $blue-0;
        outline-offset: 2px;
      }
      svg {
        [fill] {
          fill: $blue-0;
        }
      }
    }

    &.white-text {
      color: white;
      &:hover,
      &:focus {
        background: rgba(white, 0.1);
        &.medium {
          @include widescreen {
            padding: 0 8px;
          }
          @include desktop {
            padding: 0 vw(8px);
          }
          @include tablet {
            padding: 0 8px; // TODO
          }
          @include mobile {
            padding: 0 8px; // TODO
          }
        }
      }
      &:focus {
        border-color: white;
        box-shadow: 0 0 0 1px white inset;
      }
      svg {
        [fill] {
          fill: white;
        }
      }
    }
  }

  // TODO: find and remove
  &.legacy {
    &.tertiary {
      background: none;
      text-decoration: underline;
      @include widescreen {
        font-size: 20px;
        border-radius: 5px;
        padding: 14px 20px;
      }
      @include desktop {
        font-size: vw(20px);
        border-radius: vw(5px);
        padding: vw(14px) vw(20px);
      }
      @include tablet {
        font-size: 3.2vw;
        border-radius: 1vw;
        padding: 2.1vw;
      }
      @include mobile {
        font-size: 5.9375vw;
        border-radius: 0.8vw;
        padding: 3vw;
      }
      &:hover {
        text-decoration: none;
      }
      &.blue {
        color: $blue-0;
        background: white;
        &:hover {
          color: $orange-3;
        }
        &:hover,
        &:focus {
          color: $orange-3;
          box-shadow: white 0 0 0 1px, 0 0 0 3px $orange-0;
        }
      }
      &.orange {
        color: $orange-3;
        background: white;
        &:hover,
        &:focus {
          color: $orange-2;
          box-shadow: white 0 0 0 1px, 0 0 0 3px $orange-0;
        }
      }
      &.white {
        color: white;
        &:hover {
          text-decoration: none;
        }
        &:focus {
          box-shadow: rgba(white, 0.1) 0 0 0 2px, 0 0 0 3px white;
          background: rgba(white, 0.1);
          border-radius: 3px;
        }
        &.inverse {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  // For the mobile chevron navigation buttons
  // For the mobile hamburger button
  &.square {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet {
      margin: 1.5vw;
      width: 6vw;
      height: 6vw;
      border: 0.325vw solid rgba(white, 0.2);
      border-radius: 0.6vw;
    }
    @include mobile {
      margin: 4.5vw;
      width: 12vw;
      height: 12vw;
      border: 0.625vw solid rgba(white, 0.2);
      border-radius: 1vw;
    }
    color: white;
    transition: background $easeOutExpo 300ms;
    &:hover,
    &:focus {
      box-shadow: 0 0 0 1px white;
      background: rgba(white, 0.1);
      border-color: white;
    }
    &.hamburger {
      path {
        transition: all 300ms ease;
        transition-property: transform, opacity;
        transform-origin: center;
      }
      &.close {
        path:nth-child(1) {
          transform: rotate(45deg) translate(0%, 30%);
        }
        path:nth-child(2) {
          transform: scale(1.2, 0);
          opacity: 0;
        }
        path:nth-child(3) {
          transform: rotate(-45deg) translate(0%, -30%);
        }
      }
    }
    svg {
      &.hamburger {
        @include tablet {
          height: 3.2vw;
        }
        @include mobile {
          height: 6.5vw;
        }
        width: auto;
      }
      &.chevron-left {
        @include tablet {
          height: 2.8vw;
        }
        @include mobile {
          height: 5.5vw;
        }
        width: auto;
      }
      &.chevron-down {
        @include tablet {
          width: 2.8vw;
        }
        @include mobile {
          width: 5.5vw;
        }
        height: auto;
      }
      [fill] {
        fill: white;
      }
    }
  }

  // For mobile hamburger navigation
  &.stack {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    @include tablet {
      font-size: 3vw;
      border-radius: 0.4vw;
      padding: 2vw;
    }
    @include mobile {
      font-size: 5.6vw;
      border-radius: 0.8vw;
      padding: 4vw;
    }
    svg {
      @include tablet {
        max-width: 5vw;
        max-height: 5vw;
        margin-right: 3vw;
      }
      @include mobile {
        max-width: 8vw;
        max-height: 8vw;
        margin-right: 4vw;
      }
    }
    &.white {
      color: white;
      transition: background $easeOutExpo 300ms;
      svg {
        [fill] {
          fill: white;
        }
      }
      &:hover,
      &:focus {
        box-shadow: rgba(white, 0.1) 0 0 0 2px, 0 0 0 3px white;
        background: rgba(white, 0.1);
      }
    }
    & + .button {
      // @include widescreen {
      // }
      // @include desktop {
      // }
      @include tablet {
        margin-top: 3vw; // TODO
      }
      @include mobile {
        margin-top: 3vw;
      }
    }
  }

  &.pill {
    font-family: $regular;
    font-size: 16px;
    line-height: 100%;
    border-radius: 18px;
    border: 1px solid $grey-2;
    box-sizing: border-box;
    color: $grey-7;
    padding: 8px 12px;
    transition: box-shadow 200ms $easeOutExpo;
    box-sizing: border-box;
    &:hover,
    &:focus {
      outline: 2px solid $green-1;
      outline-offset: -2px;
      box-shadow: 0 3px 6px rgba(black, 0.2);
    }
    &.selected {
      font-family: $semibold;
      background-color: $green-1;
      border: 2px solid $green-2;
      color: white;
      &:hover,
      &:focus {
        outline-color: $green-3;
        background-color: $green-2;
      }
    }
    &.has-icon {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 6px;
      svg {
        width: 12px;
        height: 12px;
        [fill] {
          fill: white;
        }
      }
    }
  }
}
