#events {
  background-color: $grey-0;
  border-top: 1px solid $grey-1;
  .liner {
    @include widescreen {
      padding-top: 80px;
    }
    @include desktop {
      padding: vw(80px) vw(50px);
    }
    @include tablet {
      padding: 15vw 5vw;
    }
    @include mobile {
      padding: 32vw 4vw;
    }
  }
  .h3 {
    text-align: left;
    @include widescreen {
      margin-bottom: 40px;
    }
    @include desktop {
      margin-bottom: vw(40px);
    }
    @include tablet {
      margin-bottom: 5vw;
    }
    @include mobile {
      margin-bottom: 14vw;
      text-align: center;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include widescreen {
      gap: 2px;
      margin-left: -8px;
    }
    @include desktop {
      gap: vw(2px);
      margin-left: vw(-8px);
    }
    @include tablet {
      gap: vw-tablet(2px);
      margin-left: vw-tablet(-8px);
    }
    @include mobile {
      gap: 10vw;
    }
    details {
      transition: all 400ms $easeOutExpo;
      border-radius: 3px;
      @include mobile {
        width: 100%;
      }
      &[open] {
        background: white;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
        @include widescreen {
          margin: 20px 0;
        }
        @include desktop {
          margin: vw(20px) 0;
        }
        @include tablet {
          margin: vw-tablet(20px) 0;
        }
        @include mobile {
          margin: vw-mobile(20px) 0;
        }
        summary {
          svg {
            transform: rotate(-180deg);
          }
        }
      }
      &:hover,
      &:focus {
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
        background-color: white;
        summary {
          svg {
            [fill] {
              fill: $blue-0;
            }
          }
        }
      }
      summary {
        display: flex;
        align-items: center;
        cursor: pointer;
        @include widescreen {
          gap: 20px;
          padding: 10px;
          padding-right: 20px;
        }
        @include desktop {
          gap: vw(20px);
          padding: vw(10px);
          padding-right: vw(20px);
        }
        @include tablet {
          gap: vw-tablet(20px);
          padding: vw-tablet(10px);
          padding-right: vw-tablet(20px);
        }
        @include mobile {
          flex-direction: column;
          gap: 2vw;
          padding: 2vw;
        }
        h3 {
          user-select: none;
          @include widescreen {
            padding: 0 8px; // to match <Tag> expansion
          }
          @include desktop {
            padding: 0 vw(8px); // to match <Tag> expansion
          }
          @include tablet {
            padding: 0 vw-tablet(8px); // to match <Tag> expansion
          }
          @include mobile {
            padding: 0 vw-mobile(8px); // to match <Tag> expansion
          }
        }
        p {
          margin: 0;
          user-select: none;
          @include mobile {
            text-align: center;
          }
        }
        img.flag {
          height: auto;
          display: inline-block;
          @include widescreen {
            width: 20px;
            transform: translateY(2px);
            margin-left: 7px;
          }
          @include desktop {
            width: vw(20px);
            transform: translateY(2px);
            margin-left: vw(7px);
          }
          @include tablet {
            width: vw-tablet(20px);
            transform: translateY(#{vw-tablet(2px)});
            margin-left: vw-tablet(7px);
          }
          @include mobile {
            width: vw-mobile(20px);
            transform: translateY(#{vw-mobile(2px)});
            margin-left: vw-mobile(7px);
          }
        }
        svg {
          transform: rotate(0deg);
          transition: all 400ms $easeOutExpo;
          height: auto;
          @include widescreen {
            width: 12px;
          }
          @include desktop {
            width: vw(12px);
          }
          @include tablet {
            width: vw-tablet(12px);
          }
          @include mobile {
            width: vw-mobile(12px);
          }
          [fill] {
            transition: fill 400ms $easeOutExpo;
            fill: $grey-3;
          }
        }
      }
      .description {
        border-top: 1px dashed #eee;
        @include widescreen {
          padding: 20px 24px;
        }
        @include desktop {
          padding: vw(20px) vw(24px);
        }
        @include tablet {
          padding: vw-tablet(20px) vw-tablet(24px);
        }
        @include mobile {
          padding: vw-mobile(20px) vw-mobile(24px);
        }
        p {
          @include widescreen {
            max-width: 560px;
          }
          @include desktop {
            max-width: vw(560px);
          }
          @include tablet {
            max-width: vw-tablet(560px);
          }
          @include mobile {
            max-width: vw-mobile(560px);
          }
        }
      }
    }
  }
}
