{{#if this.load.show}}
  <div id="load-spinner">
    <div class="scene">
      <div class="cube show-{{this.side}}">
        <div class="face front">
          <Image @src="{{cdn}}/images/logos/secondary-interflux-electronics-symbol-1.svg" />
        </div>
        <div class="face back">
          <Icon @name="wave-soldering" />
        </div>
        <div class="face right">
          <Icon @name="leaves" />
        </div>
        <div class="face left">
          <Icon @name="strong" />
        </div>
        <div class="face top">
          <Icon @name="chemistry" />
        </div>
        <div class="face bottom">
          <Icon @name="circuit-1" />
        </div>
      </div>
    </div>
    <p>Loading ...</p>
  </div>
{{/if}}