.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #eee;
  position: relative;
  .text {
    position: absolute;
    z-index: 1;
    left: 2vw;
    top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  h2 {
    background: $interflux-blue;
    color: white;
    font-size: 10vw;
    font-family: $nunito-sans-extrabold;
  }
  h3 {
    background: $interflux-light-blue;
    color: white;
    font-size: 5vw;
    font-family: $nunito-sans-regular;
    margin-top: 1vw;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: auto;
  }
  button {
    background: $lmpa-orange;
    color: white;
    position: absolute;
    right: 2vw;
    bottom: 2vw;
    display: flex;
    align-items: center;
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2vw;
      margin-left: 2vw;
      path {
        // fill: white;
      }
    }
  }
}
