<Liner>
  <h2>Group products by:</h2>
  <nav>
    <Ui::Button::Route
      @route="products.families"
      @text="Family"
    />
    <Ui::Button::Route
      @route="products.purposes"
      @text="Purpose"
    />
    <Ui::Button::Route
      @route="products.features"
      @text="Qualities"
    />
    <Ui::Button::Route
      @route="products.names"
      @text="Name"
    />
  </nav>
</Liner>