section#breadcrumbs {
  .liner {
    padding: 0;
  }
  a.back {
    display: flex;
    align-items: center;
    padding: 0;
    color: $grey-5;
    font-family: $regular;
    .icon {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @include widescreen {
        width: px(10vw); // TODO
      }
      @include desktop {
        width: 10vw; // TODO
      }
      @include tablet {
        width: 10vw; // TODO
        height: 10vw; // TODO
      }
      @include mobile {
        width: 6vw;
        margin-right: 2vw;
        height: 12vw;
      }
      svg {
        height: 25%;
        width: auto;
        transform: rotate(180deg);
        [fill] {
          fill: $grey-5;
        }
      }
    }
  }
}
