section#breadcrumbs {
  .liner {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
  }
  a.back {
    display: flex;
    align-items: center;
    color: $grey-5;
    background: #f2f2f2;
    font-family: $regular;
    padding: 0 4vw 0 3vw;
    width: auto;
    line-height: 200%;
    .icon {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @include widescreen {
        width: px(10vw); // TODO
      }
      @include desktop {
        width: 10vw; // TODO
      }
      @include tablet {
        width: 10vw; // TODO
      }
      @include mobile {
        margin-right: 2vw;
      }
      svg {
        height: 3vw;
        width: auto;
        transform: rotate(180deg);
        [fill] {
          fill: $grey-5;
        }
      }
    }
  }
}
