.page > header#desktop {
  border-bottom: 1px solid #eaeaea;
  @include widescreen {
    height: 70px;
  }
  @include desktop {
    height: vw(70);
  }
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
  .liner {
    display: flex;
    justify-content: space-between;
  }
  .left {
    display: flex;
    a#logo {
      display: flex;
      justify-content: center;
      margin-right: 20px;
      img {
        max-width: 210px;
        height: auto;
      }
    }
    a:not(#logo) {
      position: relative;
      color: #6d6d6d;
      height: 70px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      margin: 0 1px 0 0;
      span {
        font-family: $bold;
        font-size: 15px;
      }
      &:hover,
      &.active {
        span {
          color: white;
          z-index: 2;
        }
        &:after {
          content: ' ';
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          width: 100%;
          height: 74px;
          background: linear-gradient(to bottom, #23578c 0%, #194674 100%);
          box-shadow: 0 1px 2px RGBA(0, 0, 0, 0.1);
          border-radius: 0 0 3px 3px;
        }
      }
    }
  }
  .right {
    display: flex;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #eaeaea;
      box-sizing: content-box;
      margin-top: -1px;
      margin-left: -1px;
      transition: border-color 200ms ease;
      padding: 0;
      path[fill] {
        fill: #6d6d6d;
      }
      i {
        transition: transform 200ms ease;
        height: 40%;
      }
      &:hover {
        border-color: $orange-1;
        z-index: 1;
        i {
          transform: scale(1.2);
        }
        path[fill] {
          fill: $orange-3;
        }
      }
      @include widescreen {
        height: 70px;
        width: 70px;
      }
      @include desktop {
        height: vw(70);
        width: vw(70);
      }
    }
  }
}

.page > header#mobile {
  @include widescreen {
    display: none;
  }
  @include desktop {
    display: none;
  }
  #logo {
    img {
      width: 10px;
      height: auto;
    }
  }
}
