<header id="desktop">
  <div class="liner">
    <div class="left">
      <Button::Route
        @route="index"
        @text="Home"
        @id="logo"
      >
        <img
          src="{{cdn}}/images/logos/primary-interflux-electronics-logo-1.svg"
          width="3960"
          height="1000"
          alt="Interflux Electronics logo"
        />
      </Button::Route>

      <Button::Route
        @route="products"
        @text="Products"
      />

      <Button::Route
        @route="documents"
        @text="Documents"
      />

      <Button::Route
        @route="contact"
        @text="Contact"
      />
    </div>

    <!-- <div class="right">
      <Button::Route
        @route="index"
        @icon="search"
      />
      <Button::Route
        @route="index"
        @icon="geo-marker"
      />
      <Button::Route
        @route="index"
        @icon="shopping-cart"
      />
      <Button::Route
        @route="index"
        @icon="user"
      />
    </div> -->
  </div>
</header>

<header id="mobile">
  <div class="liner">
    <Button::Route
      @route="index"
      @id="logo"
    >
      <Icon @name="hamburger" />
      <img
        src="{{cdn}}/images/logos/secondary-interflux-electronics-logo-1-transparent.svg"
        width="100"
        height="100"
        alt="Interflux Electronics logo"
      />
    </Button::Route>

    <!-- <Button::Route
      @route="index"
      @icon="search"
    />

    <Button::Route
      @route="index"
      @icon="user"
    /> -->
  </div>
</header>