.filter-list {
  header {
    display: flex;
    .input {
      max-width: 400px;
    }
  }

  header + p {
    color: white;
    font-size: 80%;
    opacity: 60%;
    margin: 8px 0 25px 2px;
    // margin: 10px 0 30px;
  }

  ul {
    li {
      border-radius: 2px;
      display: flex;
      justify-content: flex-start;
      & + li {
        margin-top: 10px;
      }
      p {
        color: white;
      }
    }
  }
}
