<div class='load-spinner {{if @fixed-to-viewport 'fixed' 'inline'}}'>
  <div class='scene'>
    <div class='cube show-{{this.side}}'>
      <div class='face front'>
        <Svg::Interflux />
      </div>
      <div class='face back'>
        <Svg::WaveSoldering />
      </div>
      <div class='face right'>
        <Svg::Leaves />
      </div>
      <div class='face left'>
        <Svg::Strong />
      </div>
      <div class='face top'>
        <Svg::Chemistry />
      </div>
      <div class='face bottom'>
        <Svg::Circuit1 />
      </div>
    </div>
  </div>
  <p>{{if @message @message 'Loading ...'}}</p>
</div>