#contact.page {
  #map {
    .liner {
      padding: 0;
      max-width: none;
    }
    .map {
      background: #16324d;
      width: 100vw;
      @include widescreen {
        height: px(50vw);
        margin-bottom: px(5vw);
      }
      @include desktop {
        height: 50vw;
        margin-bottom: 5vw;
      }
      @include tablet {
        height: 70vw;
        margin-bottom: 8vw;
      }
      @include mobile {
        height: 100vw;
        margin-bottom: 12vw;
      }

      .mapboxgl-map {
        height: 100%;
      }
    }
  }
  li {
    align-items: flex-start;
    padding: 60px;
    box-shadow: 0 2px 4px RGBA(0, 0, 0, 0.1);
    background-color: white;
    & + li {
      margin-top: 30px;
    }
    h2 {
      margin-bottom: 16px;
      font-family: $extrabold;
    }
    p {
      margin: 0;
    }
    p.country {
      font-family: $bold;
    }
    div + div {
      margin-top: 12px;
    }
  }
  #list {
    .liner {
      @include widescreen {
        width: px(50vw);
      }
      @include desktop {
        width: 50vw;
      }
      @include tablet {
        width: 80vw;
      }
      @include mobile {
        width: 90vw;
      }
    }
    .search-list {
      > p {
        display: none;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      @include widescreen {
        margin-top: px(4vw);
      }
      @include desktop {
        margin-top: 4vw;
      }
      @include tablet {
        margin-top: 8vw;
      }
      @include mobile {
        margin-top: 12vw;
      }
    }
    h3 {
      @include light-font(0.8);
      text-align: left;
    }
  }
}
