#documents.modal {
  .box {
    @include widescreen {
      width: px(60vw);
    }
    @include desktop {
      width: 60vw;
    }
    @include tablet {
      width: 100%;
    }
    @include mobile {
      width: 100%;
    }
  }
  section.text {
    .liner {
      width: auto;
      @include widescreen {
        padding: px(2.8vw) px(2vw) px(2vw);
      }
      @include desktop {
        padding: 2.8vw 2vw 2vw;
      }
      @include tablet {
        padding: 5vw; // TODO
      }
      @include mobile {
        padding: 8vw; // TODO
      }
      p {
        text-align: center;
      }
      h3 {
        @include widescreen {
          margin: px(1.6vw) 0 px(0.8vw);
        }
        @include desktop {
          margin: 1.6vw 0 0.8vw;
        }
        @include tablet {
          margin: 4vw 0 3vw; // TODO
        }
        @include mobile {
          margin: 7vw 0 5vw; // TODO
        }
      }
    }
  }

  section.documents {
    h3 {
      margin: 5vw 0;
      & + p {
        margin-bottom: 3vw;
      }
    }

    input {
      background: #eee;
    }

    li.no-match {
      display: none;
    }

    a {
      display: flex;
      align-items: center;
      color: $blue-0;
      width: 100%;
      overflow: hidden;
      picture {
        flex-shrink: 0;
      }
      span,
      p {
        &:last-child {
          color: $blue-0;
          width: 100%;
          text-align: right;
          margin-left: 20px;
        }
      }
      mark {
        background: yellow;
      }
    }
    .liner {
      width: auto;
      padding: 0;
    }
    .search-list {
      > .input {
        background: #eee;
        box-sizing: border-box;
        @include widescreen {
          padding: px(2.7vw) px(10vw) 0;
        }
        @include desktop {
          padding: 2.7vw 10vw 0;
        }
        @include tablet {
          padding: 2vw 12vw 0;
        }
        @include mobile {
          padding: 3vw 3vw 0;
        }
      }
      > p {
        background: #eee;
        text-align: right;
        color: rgba($paragraph-color-1, 0.6);
        @include widescreen {
          padding: px(0.4vw) px(10vw) px(1.7vw);
        }
        @include desktop {
          padding: 0.4vw 10vw 1.7vw;
        }
        @include tablet {
          padding: 0 12vw 1vw;
        }
        @include mobile {
          padding: 0 3vw 3vw;
        }
      }
      > ul {
        @include widescreen {
          padding: px(3.8vw) px(2vw);
        }
        @include desktop {
          padding: 3.8vw 2vw;
        }
        @include tablet {
          padding: 5vw;
        }
        @include mobile {
          padding: 8vw;
        }
      }
    }
  }
}

#reach.modal {
  .box {
    @include widescreen {
      width: px(42vw);
    }
    @include desktop {
      width: 42vw;
    }
    @include tablet {
      width: 64vw;
    }
    @include mobile {
      width: 100%;
    }
  }

  section.text {
    .liner {
      width: auto;
      @include widescreen {
        padding: px(3.8vw) px(2vw);
      }
      @include desktop {
        padding: 3.8vw 2vw;
      }
      @include tablet {
        padding: 5vw;
      }
      @include mobile {
        padding: 8vw;
      }
      p {
        text-align: center;
      }
      h3 {
        @include widescreen {
          margin: px(3vw) 0 px(2.6vw);
        }
        @include desktop {
          margin: 3vw 0 2.6vw;
        }
        @include tablet {
          margin: 4vw 0 3vw;
        }
        @include mobile {
          margin: 7vw 0 5vw;
        }
      }
      p + a {
        display: block;
        width: 80%;
        @include widescreen {
          margin: px(3vw) auto;
        }
        @include desktop {
          margin: 3vw auto;
        }
        @include tablet {
          margin: 4vw auto;
        }
        @include mobile {
          margin: 7vw 0;
          width: 100%;
        }
      }
    }
  }
}
