<Page @id="product-family">
  <Section @class="temporary">
    <Button::Route
      @route="products"
      @text="Back"
      @size="small"
      @style="blue-2"
    />
    <h1>{{capitalize-words @model.family.namePlural}}</h1>
  </Section>

  <Section @class="product-tiles">
    {{#each @model.family.products as |product|}}
      <ProductTile @product={{product}} />
    {{/each}}
  </Section>
</Page>