<Page @id="product-family">
  <Section @class="temporary">
    <Button::Route
      @route="products"
      @text="Back"
      @size="small"
      @style="blue-2"
    />
  </Section>

  <Section::FamilyHero @family={{@model.family}} />

  <Section::ProductTiles @products={{@model.family.products}} />

  <Section::ProductTiles @products={{@model.family.products}} />
</Page>