<Page @id="product-family">
  <Section @class="temporary">
    <Button::Route
      @route="products"
      @text="Back"
      @size="small"
      @style="blue-2"
    />
  </Section>

  <Section::FamilyHero @family={{@model.family}} />

  <Section::Text>
    <p><strong>Solder pastes</strong> are materials used in the manufacture of
      printed circuit boards to connect surface mount components to pads on the
      board. It is also possible to solder through hole pin in paste components
      by printing solder paste in/over the holes. The paste initially adheres
      components in place by being sticky, it is then heated (along with the
      rest of the board) melting the paste and forming a mechanical bond as well
      as an electrical connection. The paste is applied to the board by jet
      printing, stencil printing or syringe and then the components are put in
      place by a pick-and-place machine or by hand.</p>
  </Section::Text>

  <Section::Text>
    <IconDuo
      @icon1="solder-wire"
      @icon2="leaves"
    />
    <h3>Lead-free solder pastes</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.</p>
  </Section::Text>

  <Section::ProductTiles @products={{@model.family.products}} />

  <Section::Text>
    <IconDuo
      @icon1="solder-wire"
      @icon2="lead"
    />
    <h3>Lead-based solder pastes</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.</p>
  </Section::Text>

  <Section::ProductTiles @products={{@model.family.products}} />
</Page>