<Page @id="product-family">
  <Section @class="temporary">
    <Button::Route
      @route="products"
      @text="Back"
      @size="small"
      @style="blue-2"
    />
    <h1>{{capitalise @model.family.namePlural}}</h1>
  </Section>

  <Section::ProductTiles @products={{@model.family.products}} />
</Page>