<i class="load-spinner">
  {{#if (eq @icon 'circle')}}
    <div class="loader">
      <svg viewBox="0 0 80 80">
        <circle
          id="test"
          cx="40"
          cy="40"
          r="32"
        ></circle>
      </svg>
    </div>
  {{else if (eq @icon 'triangle')}}
    <div class="loader triangle">
      <svg viewBox="0 0 86 80">
        <polygon points="43 8 79 72 7 72"></polygon>
      </svg>
    </div>
  {{else if (eq @icon 'square')}}
    <div class="loader">
      <svg viewBox="0 0 80 80">
        <rect
          x="8"
          y="8"
          width="64"
          height="64"
        ></rect>
      </svg>
    </div>
  {{else if (eq @icon 'cup')}}
    <span class="cup-loader"><span class="loader-inner"></span></span>
  {{/if}}
</i>