<Page @id="documents">
  <Section @class="temporary">
    <Button::Route
      @route="home"
      @text="Home"
      @size="small"
      @style="blue-2"
    />
    <h1>Documents</h1>
    <ul>
      {{#each @model.documents as |document|}}
        <li>
          <Button::Url
            @href="{{cdn}}/{{document.path}}"
            @text="{{document.name}} ({{document.language.nameEnglish}})"
            @icon="pdf"
            @size="medium"
            @style="white grey-border"
          />
        </li>
      {{/each}}
    </ul>
  </Section>
</Page>