#product-family.page {
  background: white;

  #breacrumbs {
    height: 70px;
    background-color: $blue-3;
    background-image: url('#{$cdn}/images/temporary/public-products-page-hero.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 30px;
    ol {
      display: flex;
      align-items: center;
      li {
        display: flex;
        align-items: center;
        & + li {
          margin-left: 20px;
        }
      }
    }
    a {
      color: white;
      text-decoration: underline;
    }
    svg {
      height: 10px;
      width: auto;
      margin-left: 20px;
      [fill] {
        fill: white;
      }
    }
  }

  main {
    background-color: '#EEE';
    .liner {
      display: flex;
      max-width: 1200px;
      margin: 40px auto 80px;
    }
  }
  #filters {
    background: #f8f8f8;
    border: 1px solid #e3e3e3;
    width: 310px;
    flex-shrink: 0;
    padding: 35px;
    box-sizing: border-box;

    fieldset {
      border: 0;
      padding: 0;
      & + fieldset {
        margin-top: 40px;
      }
      legend {
        font-size: 16px;
        color: $paragraph-color;
        font-family: $bold;
        display: block;
        margin-bottom: 20px;
      }
      .checkbox-group {
        display: flex;
        & + .checkbox-group {
          margin-top: 10px;
        }
        .checkbox {
          margin-right: 10px;
        }
      }
    }
  }
  #products {
    width: 100%;
    margin-left: 50px;
    h1 {
      font-size: 36px;
      line-height: 150%;
      color: $blue-3;
      font-family: $extrabold;
    }
    h2 {
      font-size: 28px;
      line-height: 150%;
      color: $paragraph-color;
      font-family: $light;
      margin-top: 50px;
    }
    h3 {
      background: $blue-3;
      color: white;
      font-size: 25px;
      font-family: $extrabold;
      line-height: 100%;
      padding: 7px 13px 6px;
      margin-bottom: 9px;
    }
    h4 {
      background: $blue-0;
      color: white;
      font-size: 16px;
      font-family: $regular;
      line-height: 100%;
      padding: 5px 13px;
      margin-bottom: 9px;
    }
    p {
      font-size: 16px;
      color: $paragraph-color;
      font-family: $regular;
      line-height: 24px;
      & + ol {
        margin-top: 30px;
      }
    }
    ol {
      background: #f8f8f8;
      border: 1px solid #d7d7d7;
      border-radius: 5px;
      padding: 10px;
      position: relative;
      box-sizing: border-box;
      &:before {
        content: '';
        background: white;
        position: absolute;
        left: -1px;
        top: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background: linear-gradient(90deg, #fff0, 30%, white 50%);
      }
      li {
        position: relative;
        z-index: 1;
        display: flex;
        background: white;
        border: 1px solid #dbdbdb;
        border-radius: 4px;
        &:hover,
        &focus {
          border-color: $orange-2;
          box-shadow: 0 0 0 1px $orange-2;
          cursor: pointer;
        }
        & + li {
          margin-top: 10px;
        }
        .left {
          padding: 10px;
          padding-right: 0;
          flex-shrink: 0;
          figure {
            width: 220px;
            height: 220px;
          }
        }
        .center {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding: 30px;
        }
        .right {
          width: 40px;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          svg {
            height: 20px;
            width: auto;
            [fill] {
              fill: #ccc;
            }
          }
        }
      }
    }
  }
}
