@font-face {
  font-family: 'Nunito Sans ExtraLight';
  src: url('#{$cdn}/fonts/nunito-sans/NunitoSans-ExtraLight.woff2')
      format('woff2'),
    url('#{$cdn}/fonts/nunito-sans/NunitoSans-ExtraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans Light';
  src: url('#{$cdn}/fonts/nunito-sans/NunitoSans-Light.woff2') format('woff2'),
    url('#{$cdn}/fonts/nunito-sans/NunitoSans-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans Regular';
  src: url('#{$cdn}/fonts/nunito-sans/NunitoSans-Regular.woff2') format('woff2'),
    url('#{$cdn}/fonts/nunito-sans/NunitoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans SemiBold';
  src: url('#{$cdn}/fonts/nunito-sans/NunitoSans-SemiBold.woff2')
      format('woff2'),
    url('#{$cdn}/fonts/nunito-sans/NunitoSans-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans Bold';
  src: url('#{$cdn}/fonts/nunito-sans/NunitoSans-Bold.woff2') format('woff2'),
    url('#{$cdn}/fonts/nunito-sans/NunitoSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans ExtraBold';
  src: url('#{$cdn}/fonts/nunito-sans/NunitoSans-ExtraBold.woff2')
      format('woff2'),
    url('#{$cdn}/fonts/nunito-sans/NunitoSans-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans Black';
  src: url('#{$cdn}/fonts/nunito-sans/NunitoSans-Black.woff2') format('woff2'),
    url('#{$cdn}/fonts/nunito-sans/NunitoSans-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
