@font-face {
  font-family: 'Nunito Sans ExtraLight';
  src: local('Nunito Sans ExtraLight'), local('NunitoSans-ExtraLight'),
    url('fonts/nunito-sans/NunitoSans-ExtraLight.woff2') format('woff2'),
    url('fonts/nunito-sans/NunitoSans-ExtraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans Light';
  src: local('Nunito Sans Light'), local('NunitoSans-Light'),
    url('fonts/nunito-sans/NunitoSans-Light.woff2') format('woff2'),
    url('fonts/nunito-sans/NunitoSans-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans Regular';
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
    url('fonts/nunito-sans/NunitoSans-Regular.woff2') format('woff2'),
    url('fonts/nunito-sans/NunitoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans SemiBold';
  src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'),
    url('fonts/nunito-sans/NunitoSans-SemiBold.woff2') format('woff2'),
    url('fonts/nunito-sans/NunitoSans-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans Bold';
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'),
    url('fonts/nunito-sans/NunitoSans-Bold.woff2') format('woff2'),
    url('fonts/nunito-sans/NunitoSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans ExtraBold';
  src: local('Nunito Sans ExtraBold'), local('NunitoSans-ExtraBold'),
    url('fonts/nunito-sans/NunitoSans-ExtraBold.woff2') format('woff2'),
    url('fonts/nunito-sans/NunitoSans-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans Black';
  src: local('Nunito Sans Black'), local('NunitoSans-Black'),
    url('fonts/nunito-sans/NunitoSans-Black.woff2') format('woff2'),
    url('fonts/nunito-sans/NunitoSans-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
