#contact {
  #hero {
    position: relative;
    overflow: hidden;
    height: 320px;
    background-color: $blue-4;
    .liner {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .bg {
      width: 1200px;
      height: 440px;
      position: absolute;
      .preload,
      .high-res {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
      }
      // Whilst the high-res image is loading we an instant blurry base64 CSS version of the image
      .preload {
        background-image: url('data:image/webp;base64,#{$hero-circuit-boards-2-desktop}');
        filter: blur(20px);
      }
      // High-resolution image
      .high-res {
        background-image: url('#{$cdn}/images/public/hero-circuit-board-2/hero-circuit-board-2-desktop@1200x440.webp');
        @include retina {
          background-image: url('#{$cdn}/images/public/hero-circuit-board-2/hero-circuit-board-2-desktop@2400x880.webp');
        }
      }
    }
    h1 {
      font-family: $extrabold;
      color: white;
      line-height: 100%;
      text-align: center;
      position: relative;
      background-color: $blue-4;
      transform: translateY(40px);
      padding: 6px 12px;
      @include widescreen {
        font-size: 40px;
      }
      @include desktop {
        font-size: vw(40px);
      }
      @include tablet {
        font-size: vw-tablet(40px); // TODO
      }
      @include mobile {
        font-size: vw-mobile(40px); // TODO
      }
    }
  }
  #map {
    .liner {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include widescreen {
        padding: 80px 0;
      }
      @include desktop {
        padding: vw(80px) 0;
      }
      @include tablet {
        // TODO
      }
      @include mobile {
        padding: 28vw 7.5vw 0;
      }
    }
    h2 {
      text-align: center;
      margin-bottom: 32px;
    }
    p {
      text-align: center;
      max-width: 560px;
      margin-bottom: 32px;
    }
    .container {
      position: relative;
      width: 100%;
      max-width: 1000px;
      height: 450px;
      overflow: hidden;
      border-radius: 10px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $blue-4;
      @media (max-width: 1000px) {
        border-radius: 0;
      }
      @include widescreen {
      }
      @include desktop {
      }
      @include tablet {
      }
      @include mobile {
        width: 100vw;
        height: 100vw;
      }
      p {
        position: relative;
        z-index: 2;
        color: white;
        margin: 0;
      }
      a.map {
        display: block;
        position: absolute;
        z-index: 1;
        &:hover,
        &:focus {
          & + .expand {
            background: rgba(white, 0.2);
            border-color: white;
            svg {
              [fill] {
                fill: white;
              }
            }
          }
        }
      }
      a.expand {
        position: relative;
        z-index: 2;
      }
      .preload {
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('data:image/webp;base64,#{$interflux-network-map}');
        background-size: 100% 100%;
        filter: blur(15px);
        overflow: hidden;
        border-radius: 10px;
      }
      img {
        position: relative;
        z-index: 2;
      }
      button {
        position: absolute;
        z-index: 3;
        color: white;
      }
    }
  }

  #join {
    .liner {
      max-width: 900px;
      display: flex;
      align-items: stretch;
      @include widescreen {
        gap: 35px;
        padding: 100px 30px;
      }
      @include desktop {
        gap: vw(35px);
        padding: vw(100px) vw(30px);
      }
      @include tablet {
        // TODO
      }
      @include mobile {
        gap: 8vw;
        flex-direction: column;
        padding: 28vw 7.5vw;
      }
    }
    img {
      @include widescreen {
      }
      @include desktop {
      }
      @include tablet {
      }
      @include mobile {
        width: 100%;
        height: auto;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      p {
        @include widescreen {
        }
        @include desktop {
        }
        @include tablet {
        }
        @include mobile {
          margin: 6vw 0 8vw;
        }
      }
    }
  }
}
