#contact {
  #hero {
    position: relative;
    overflow: hidden;
    background-color: $blue-4;
    @include widescreen {
      height: 320px;
    }
    @include desktop {
      height: vw(320px);
    }
    @include tablet {
      height: 50vw;
    }
    @include mobile {
      height: 100vw;
    }
    .liner {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .bg {
      position: absolute;
      @include widescreen {
        width: 1200px;
        height: 440px;
      }
      @include desktop {
        width: vw(1200px);
        height: vw(440px);
      }
      @include tablet {
        width: 100vw;
        height: 50vw;
      }
      @include mobile {
        width: 100vw;
        height: 100vw;
      }
      .preload,
      .high-res {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: center;
        background-size: auto 100%;
        @include mobile {
          background-position: 45% 50%;
        }
      }
      // Whilst the high-res image is loading we an instant blurry base64 CSS version of the image
      .preload {
        background-image: url('data:image/webp;base64,#{$hero-circuit-boards-2-desktop}');
        filter: blur(20px);
      }
      // High-resolution image
      .high-res {
        background-image: url('#{$cdn}/images/public/hero-circuit-board-2/hero-circuit-board-2-desktop@1200x440.webp');
        @include retina {
          background-image: url('#{$cdn}/images/public/hero-circuit-board-2/hero-circuit-board-2-desktop@2400x880.webp');
        }
      }
    }
    h1 {
      font-family: $extrabold;
      color: white;
      line-height: 100%;
      text-align: center;
      position: relative;
      background-color: $blue-4;
      transform: translateY(40px);
      @include widescreen {
        font-size: 40px;
        padding: 6px 12px;
      }
      @include desktop {
        font-size: vw(40px);
        padding: vw(6px) vw(12px);
      }
      @include tablet {
        font-size: vw-tablet(40px);
        padding: vw-tablet(6px) vw-tablet(12px);
      }
      @include mobile {
        font-size: vw-mobile(40px);
        padding: vw-mobile(6px) vw-mobile(12px);
      }
    }
  }

  #map {
    .liner {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include widescreen {
        padding: 80px 0;
      }
      @include desktop {
        padding: vw(80px) 0;
      }
      @include tablet {
        padding: 14vw 5vw;
      }
      @include mobile {
        padding: 28vw 5vw;
      }
    }
    h2 {
      text-align: center;
      @include widescreen {
        margin-bottom: 32px;
        line-height: 100%;
      }
      @include desktop {
        margin-bottom: vw(32px);
        line-height: 100%;
      }
    }
    p {
      text-align: center;
      @include widescreen {
        margin-bottom: 32px;
        max-width: 560px;
      }
      @include desktop {
        margin-bottom: vw(32px);
        max-width: vw(560px);
      }
      @include tablet {
        margin: 4vw 0 5.5vw;
        max-width: 70vw;
      }
      @include mobile {
        margin: 6vw 0 9vw;
      }
    }
    .container {
      position: relative;
      width: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $blue-4;
      @include widescreen {
        border-radius: 10px;
        max-width: 1000px;
        height: 450px;
      }
      @include desktop {
        border-radius: vw(10px);
        max-width: vw(1000px);
        height: vw(450px);
      }
      @include tablet {
        width: 90vw;
        height: 40vw;
        border-radius: 1vw;
      }
      @include mobile {
        width: 90vw;
        height: 70vw;
        border-radius: 2vw;
      }
      p {
        position: relative;
        z-index: 1;
        color: white;
        margin: 0;
      }
      a.map {
        display: block;
        position: absolute;
        z-index: 0;
        &:hover,
        &:focus {
          & + .expand {
            background: rgba(white, 0.2);
            border-color: white;
            svg {
              [fill] {
                fill: white;
              }
            }
          }
        }
        img {
          @include widescreen {
            width: 1000px;
            height: auto;
          }
          @include desktop {
            width: vw(1000px);
            height: auto;
          }
          @include tablet {
            width: 100%;
            height: auto;
          }
          @include mobile {
            width: auto;
            height: 90vw;
          }
        }
      }
      a.expand {
        position: relative;
        z-index: 1;
      }
      .preload {
        position: absolute;
        z-index: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('data:image/webp;base64,#{$interflux-network-map}');
        background-size: 100% 100%;
        filter: blur(15px);
        overflow: hidden;
        @include widescreen {
          border-radius: 10px;
        }
        @include desktop {
          border-radius: vw(10px);
        }
        @include tablet {
          border-radius: 1vw;
        }
        @include mobile {
          border-radius: 2vw;
        }
      }
      img {
        position: relative;
        z-index: 1;
      }
      button {
        position: absolute;
        z-index: 2;
        color: white;
      }
    }
  }

  // #questionair has its own component

  // #search has its own component

  #join {
    .liner {
      display: flex;
      @include widescreen {
        gap: 35px;
        padding: 100px 30px;
        max-width: 900px;
        align-items: stretch;
      }
      @include desktop {
        gap: vw(35px);
        padding: vw(100px) vw(30px);
        max-width: vw(900px);
        align-items: stretch;
      }
      @include tablet {
        transform: translateX(-4vw);
        padding: 14vw 5vw;
        align-items: center;
      }
      @include mobile {
        gap: 8vw;
        flex-direction: column;
        padding: 28vw 5vw;
      }
    }

    img {
      height: auto;
      @include widescreen {
        width: 300px;
      }
      @include desktop {
        width: vw(300px);
      }
      @include tablet {
        width: vw-tablet(300px);
        transform: rotate(-90deg);
      }
      @include mobile {
        width: 100%;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      @include desktop-and-up {
        align-items: flex-start;
        justify-content: space-between;
      }
      @include tablet {
        align-items: flex-start;
      }
      @include mobile {
        align-items: center;
      }
      h2 {
        @include widescreen {
          line-height: 100%;
        }
        @include desktop {
          line-height: 100%;
        }
        @include tablet {
          line-height: 100%;
        }
        @include mobile {
          text-align: center;
          width: 70%;
        }
      }
      p {
        @include tablet {
          margin: 3vw 0;
        }
        @include mobile {
          margin: 6vw 0 8vw;
          text-align: center;
        }
      }
    }
  }
}
