@keyframes grow {
  from {
    transform: translate(0.9);
    opacity: 0;
  }
  to {
    transform: translate(0.9);
    opacity: 0;
  }
}
li.product-row {
  animation: grow 500ms ease;
  &.hide {
    display: none;
  }
  &.outdated {
    img {
      filter: grayscale(1) opacity(0.5);
    }
  }
  &.discontinued {
    h3,
    h4.blue,
    img,
    p {
      filter: grayscale(1) opacity(0.5);
    }
  }
  a {
    position: relative;
    z-index: 0;
    border-top: 1px solid $grey-1;
    border-bottom: 1px solid $grey-1;
    margin-top: -1px;
    background: white;
    text-decoration: none;
    outline-offset: -1px;
    display: flex;
    @include widescreen {
      justify-content: space-between;
      align-items: center;
      min-height: 266px;
    }
    @include desktop {
      justify-content: space-between;
      align-items: center;
      min-height: vw(266px);
    }
    @include tablet {
      padding: 5vw 3vw;
    }
    @include mobile {
      flex-direction: column;
      padding: 10vw 0;
    }
    &:hover,
    &:focus {
      z-index: 1;
      @include widescreen {
        outline: 1px solid $blue-0; // TODO
        box-shadow: 0 4px 8px RGBA(0, 0, 0, 0.1); // TODO
      }
      @include desktop {
        outline: 1px solid $blue-0;
        box-shadow: 0 4px 8px RGBA(0, 0, 0, 0.1);
      }
      .right {
        transform: translateX(50px);
        svg {
          [fill] {
            fill: $blue-0;
          }
        }
      }
    }
    .left {
      flex-shrink: 0;
      @include widescreen {
        padding: px(1vw);
      }
      @include desktop {
        padding: 1vw;
      }
      @include tablet {
        display: flex;
        justify-content: center;
      }
      @include mobile {
        display: flex;
        justify-content: center;
      }
      figure {
        @include widescreen {
          width: 240px;
          height: 240px;
        }
        @include desktop {
          width: vw(240px);
          height: vw(240px);
        }
        @include tablet {
          width: 27vw;
          height: 27vw;
        }
        @include mobile {
          width: 90vw;
          height: 90vw;
        }
        &.no-image {
          margin: 0;
          filter: grayscale(1) opacity(0.4);
        }
      }
    }
    .center {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      box-sizing: border-box;
      @include widescreen {
        padding: px(1.666vw);
      }
      @include desktop {
        padding: 1.666vw;
      }
      @include tablet {
        padding: 0 0 0 3vw;
        justify-content: center;
      }
      @include mobile {
        padding: 6vw 5vw;
      }
      h3 {
        background: $blue-3;
        font-family: $extrabold;
        color: white;
        line-height: 144%;
        @include widescreen {
          font-size: 25px;
          padding: 1px 15px 0;
          border-radius: 2px;
        }
        @include desktop {
          font-size: vw(25px);
          padding: vw(1px) vw(15px) 0;
          border-radius: vw(2px);
        }
        @include tablet {
          font-size: 2.8vw;
          padding: 0.5vw 2vw 0.5vw;
          border-radius: 0.2vw;
        }
        @include mobile {
          font-size: 8vw;
          padding: 1.2vw 4vw 0.6vw;
          border-radius: 0.5vw;
        }
      }
      .tags {
        display: flex;
        margin: 10px 0 15px;
        @include widescreen {
          margin: px(0.8333vw) 0 px(1.25vw);
        }
        @include desktop {
          margin: 0.8333vw 0 1.25vw;
        }
        @include tablet {
          align-items: flex-start;
          margin: 1vw 0 2vw;
        }
        @include mobile {
          flex-direction: column;
          align-items: flex-start;
          margin: 2vw 0 6vw;
        }
        h4 {
          font-family: $regular;
          color: white;
          flex-shrink: 0;
          line-height: 150%;
          @include widescreen {
            font-size: 16px;
            padding: 1px 10px 0;
            border-radius: 2px;
          }
          @include desktop {
            font-size: vw(16px);
            padding: vw(1px) vw(10px) 0;
            border-radius: vw(2px);
          }
          @include tablet {
            font-size: 2.3vw;
            padding: 0.3vw 2vw 0.2vw;
            border-radius: 0.2vw;
          }
          @include mobile {
            font-size: 5vw;
            padding: 0.9vw 4vw 0.7vw;
            border-radius: 0.5vw;
          }
          &.blue {
            background: $blue-0;
          }
          &.orange {
            background: $orange-2;
            font-family: $semibold;
          }
          &.grey {
            background: $grey-3;
          }
          &.red {
            background: $red-1;
          }
          & + h4 {
            @include widescreen {
              margin-left: px(0.41666vw);
            }
            @include desktop {
              margin-left: 0.41666vw;
            }
            @include tablet {
              margin-left: 1vw;
            }
            @include mobile {
              margin: 2vw 1vw 0 0;
            }
          }
        }
      }
      .pitch {
        overflow: hidden;
        text-overflow: ellipsis;
        @include widescreen {
          max-height: calc(3 * 16px * 1.8);
        }
        @include desktop {
          max-height: calc(3 * vw(16px) * 1.8);
        }
        @include tablet {
          max-height: calc(4 * 2.2vw * 1.8);
        }
        @include mobile {
          max-height: calc(4 * 5vw * 1.8);
        }
        p {
          @include paragraph;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            background: linear-gradient(
              to right,
              rgba(white, 0) 50%,
              rgba(white, 1) 100%
            );
            @include widescreen {
              height: calc(16px * 1.8);
            }
            @include desktop {
              height: calc(1.333vw * 1.8);
            }
            @include tablet {
              height: calc(2.2vw * 1.8);
            }
            @include mobile {
              height: calc(5vw * 1.8);
            }
          }
        }
      }
    }
    .right {
      flex-shrink: 0;
      transition: transform 150ms ease-out;
      @include widescreen {
        padding: 20px;
      }
      @include desktop {
        padding: vw(20px);
      }
      svg {
        height: auto;
        @include widescreen {
          width: 10px;
        }
        @include desktop {
          width: vw(10px);
        }
        [fill] {
          fill: #c5c5c5;
          transition: fill 150ms ease-out;
        }
      }
    }
  }
  .features {
    display: flex;
    @include widescreen {
      margin-top: 15px;
    }
    @include desktop {
      margin-top: vw(15px);
    }
    .feature {
      position: relative;
      flex-shrink: 0;
      @include widescreen {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
      @include desktop {
        width: vw(30px);
        height: vw(30px);
        margin-right: vw(10px);
      }
      &:hover {
        z-index: 1;
        cursor: pointer;
        picture {
          transform: scale(2);
          @include widescreen {
            box-shadow: 0 2px 4px rgba(black, 0.2);
          }
          @include desktop {
            box-shadow: 0 vw(2px) vw(4px) rgba(black, 0.2);
          }
        }
        .callout {
          opacity: 1;
        }
      }
      .callout {
        display: flex;
        justify-content: center;
        pointer-events: none;
        opacity: 0;
        white-space: nowrap;
        @include widescreen {
          transform: translateY(20px);
        }
        @include desktop {
          transform: translateY(vw(20px));
        }
        span {
          background: $blue-3;
          background: white;
          color: white;
          color: $grey-7;
          @include widescreen {
            padding: 3px 7px;
            box-shadow: 0 2px 4px rgba(black, 0.2);
          }
          @include desktop {
            padding: vw(3px) vw(7px);
            box-shadow: 0 vw(2px) vw(4px) rgba(black, 0.2);
          }
        }
      }
      picture {
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
    }
  }
}
