<Section @id='partners-map' @aria-labelledby='h1'>
  <h1 id='h1'>Interflux Partners</h1>
  <Button
    @text='Close'
    @icon='close'
    @theme='tertiary medium white-text icon-right'
    @route='contact-new'
  />
  <div class='loading'>
    <p>Loading ...</p>
    <div class='preload'></div>
  </div>
</Section>