<Page @id="home">
  <Section @class="temporary">
    <img
      src="{{cdn}}/images/logos/secondary-interflux-electronics-symbol-1.svg"
      width="100"
      height="100"
    >
    <h3>We research &amp; developing soldering chemistry for electronics.</h3>
    <p>How can we be of help to you?</p>
    <ul>
      <li>
        <Button::Route
          @route="products"
          @text="Products"
          @size="medium"
          @style="blue-3"
        />
      </li>
      <li>
        <Button::Route
          @route="processes"
          @text="Processes"
          @size="medium"
          @style="blue-3"
        />
      </li>
      <li>
        <Button::Route
          @route="documents"
          @text="Documents"
          @size="medium"
          @style="blue-3"
        />
      </li>
      <li>
        <Button::Route
          @route="contact"
          @text="Contact"
          @size="medium"
          @style="blue-3"
        />
      </li>
    </ul>
  </Section>
</Page>