// These button-base styles are inherited by all buttons.
// Reuse these classes as much as possible.
// Resist styling buttons per component, instead extend this base.

a,
button {
  &.button-base {
    position: relative;
    display: inline-block;
    background: none;
    border: 0;
    outline: 0 !important;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;

    &.big {
      font-family: $extrabold;
      line-height: 270%;
      @include widescreen {
        font-size: px(1.5vw);
        padding: 0 px(3vw);
        border-radius: px(0.4vw);
      }
      @include desktop {
        font-size: 1.5vw;
        padding: 0 3vw;
        border-radius: 0.4vw;
      }
      @include tablet {
        font-size: 2.8vw;
        padding: 0 4.9vw;
        border-radius: 0.7vw;
      }
      @include mobile {
        font-size: 4.5vw;
        padding: 0 8vw;
        border-radius: 1vw;
        width: 100%;
      }
    }

    &.medium {
      font-family: $semibold;
      line-height: 230%;
      @include widescreen {
        font-size: px(1.4vw);
        padding: 0 px(2vw);
        border-radius: px(0.4vw);
      }
      @include desktop {
        font-size: 1.4vw;
        padding: 0 2vw;
        border-radius: 0.4vw;
      }
      @include tablet {
        font-size: 2.3vw;
        padding: 0 4.5vw;
        border-radius: 0.7vw;
      }
      @include mobile {
        font-size: 4vw;
        padding: 0 8vw;
        border-radius: 1vw;
        width: 100%;
      }
    }

    &.small {
      padding: 0 6px;
      line-height: 24px;
      font-family: $regular;
      font-size: 14px;
      border-radius: 2px;
    }

    &.blue-2 {
      background: $blue-2;
      color: white;
      &.active.route-aware {
        background: $orange-2;
      }
      &:hover {
        background: $orange-1;
      }
    }

    &.blue-3 {
      background: $blue-3;
      color: white;
      &.active.route-aware {
        background: $orange-3;
      }
      &:hover {
        background: $orange-2;
      }
    }

    &.blue-4 {
      background: $blue-4;
      color: white;
      &.active.route-aware {
        background: $orange-4;
      }
      &:hover {
        background: $orange-3;
      }
    }

    &.orange-3 {
      background: $orange-3;
      color: white;
      &.active.route-aware {
        background: $orange-5;
      }
      &:hover {
        background: $orange-4;
      }
    }

    &.grey {
      background: $grey-0;
      color: $grey-5;
      border: 1px solid #e4e4e4;
      &.active {
        background: $blue-1;
        color: white;
      }
      &:hover {
        background: $blue-0;
        color: white;
      }
    }

    &.grey-border {
      background: white;
      border: 1px solid $grey-1;
      color: $blue-0;
      color: $grey-6;
      color: $paragraph-color-1;
      font-family: $regular;

      &:hover {
        color: $orange-3;
        border-color: $orange-1;
      }
    }

    &.link {
      background: none;
      color: white;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
        background: none;
      }
    }
  }
}
