section.text {
  .liner {
    @include widescreen {
      width: px(60vw);
    }
    @include desktop {
      width: 60vw;
    }
    @include tablet {
      padding: 0 6vw;
    }
    @include mobile {
      padding: 0 5vw;
    }
  }
}
