section.text {
  .liner {
    @include widescreen {
      padding: px(5vw) 0 0;
      width: px(70vw);
    }
    @include desktop {
      padding: 5vw 0 0;
      width: 70vw;
    }
    @include tablet {
      padding: 12vw 6vw 0;
    }
    @include mobile {
      padding: 12vw 5vw;
    }
  }
}
