section.text {
  .liner {
    @include widescreen {
      width: px(65vw);
      padding: px(4vw);
    }
    @include desktop {
      width: 65vw;
      padding: 4vw;
    }
    @include tablet {
      padding: 0 6vw;
    }
    @include mobile {
      padding: 0 5vw;
    }
  }
  p {
    @include paragraph;
  }
}
