#product.page {
  h1 {
    background: $blue-3;
    color: white;
    font-family: $extrabold;
    line-height: 150%;
    padding: 0 12px;
    font-size: 30px;
    margin-bottom: 10px;
  }
  h2 {
    background: $blue-0;
    color: white;
    font-family: $regular;
    line-height: 150%;
    padding: 0 12px;
    font-size: 18px;
    margin-bottom: 30px;
  }
  picture {
    width: 50vw;
  }
}
