<section class='route-error-message'>
  <h1>Sorry, this page cannot be reached.</h1>
  {{#if this.showBackButton}}
    <Button
      @route={{this.backRoute}}
      @text={{this.backLabel}}
      @icon='arrow-left'
      @theme='primary medium green icon-left'
    />
  {{/if}}
</section>