<Page @id='webinars' @title='Webinars' @backRoute='home' @ariaLabelledby='h1'>
  <section id='hero' aria-labelledby='h1'>
    <div class='liner'>
      <h1 id='h1'>Webinars</h1>
    </div>

    <div class='blur'></div>
  </section>

  <LoadingSpinner />
</Page>