<Page
  @id='webinars'
  @title='Loading'
  @backRoute='home'
  @ariaLabelledby='h1'
  @ariaDescribedby='description'
>
  <div class='liner'>
    <h1>Webinars</h1>
    <Shimmer::Webinars::Desktop />
  </div>
</Page>