header#desktop {
  position: relative;
  background: rgba($blue-5, 100%);
  transition: all 400ms $easeOutExpo;
  z-index: 3;
  @include widescreen {
    height: 80px;
    box-shadow: 0 2px 2px rgba(black, 0.1);
  }
  @include desktop {
    height: vw(80px);
    box-shadow: 0 vw(2px) vw(2px) rgba(black, 0.1);
  }
  &.blue {
    background: rgba($blue-4, 90%);
  }
  &.green {
    background: rgba($green-3, 70%);
  }
  &.overlap {
    @include widescreen {
      margin-bottom: -80px;
    }
    @include desktop {
      margin-bottom: vw(-80px);
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    @include widescreen {
      padding: 0 36px;
    }
    @include desktop {
      padding: 0 vw(36px);
    }
  }
  .left {
    a#logo {
      display: flex;
      align-items: center;
      height: 100%;
      transition: transform 400ms $easeOutExpo;
      &:focus,
      &:hover {
        transform: scale(1.1);
      }
      img {
        width: auto; // don't make height auto or Safari will explode
        @include widescreen {
          height: 56px;
        }
        @include desktop {
          height: vw(56px);
        }
      }
    }
  }
  ul.center {
    display: flex;
    align-items: center;
    & > li {
      height: 100%;
      & > .button {
        height: 100%;
        color: white;
        font-family: $bold;
        display: flex;
        align-items: center;
        @include widescreen {
          font-size: 16px;
          padding: 0 16px;
        }
        @include desktop {
          font-size: vw(16px);
          padding: 0 vw(16px);
        }
        &:hover,
        &:focus {
          span {
            &:after {
              transform: scaleX(1);
            }
          }
        }
        span {
          position: relative;
          &:after {
            content: '';
            background: white;
            position: absolute;
            transition: transform 400ms $easeOutExpo;
            transform: scaleX(0);
            @include widescreen {
              width: calc(100% + 10px);
              height: 2px;
              left: -5px;
              bottom: -15px;
            }
            @include desktop {
              width: calc(100% + vw(10px));
              height: vw(2px);
              left: vw(-5px);
              bottom: vw(-15px);
            }
          }
        }
      }
    }
  }
  .right {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-end;
    p {
      color: white;
      text-align: right;
      line-height: 100%;
      display: flex;
      align-items: center;
      a {
        background-color: transparent;
        color: white;
        text-decoration: none;
        font-family: $bold;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
      img {
        @include widescreen {
          margin-left: 5px;
        }
        @include desktop {
          margin-left: vw(5px);
        }
      }
    }
  }
}
