header#desktop {
  box-shadow: 0 2px 2px rgba(black, 0.1);
  background: white;
  z-index: 1;
  .liner {
    display: flex;
    justify-content: space-between;
  }
  .left {
    display: flex;
    a#logo {
      display: flex;
      justify-content: center;
      @include widescreen {
        padding: 12px 34px 12px 24px;
      }
      @include desktop {
        padding: vw(12px) vw(34px) vw(12px) vw(24px);
      }
      img {
        width: auto; // don't make height auto or Safari will explode
        @include widescreen {
          height: px(4.5vw);
        }
        @include desktop {
          height: 4.5vw;
        }
      }
    }
    a:not(#logo) {
      position: relative;
      color: $grey-7;
      display: flex;
      align-items: center;
      @include widescreen {
        margin-right: 40px;
      }
      @include desktop {
        margin-right: vw(40px);
      }
      span {
        font-family: $bold;
      }
      &:hover {
        span {
          color: $blue-0;
          text-decoration: underline;
        }
      }
      &:focus {
        span {
          color: $orange-3;
        }
      }
    }
  }
}
