// Brand colours
$interflux-blue: #23578c;
$interflux-blue-darker: darken($interflux-blue, 3%);
$interflux-blue-lighter: lighten($interflux-blue, 8%);
$interflux-light-blue: #5192d5;
$lmpa-orange: #ff7300;
$faint-orange: #f2ab72;
$sac-grey: #6f6f6f;

// Commons
$paragraph-color-1: #445260;
$paragraph-color-2: #596979;
$paragraph-color: #34373a;
$title-color: #171819;
$hyperlink-color: $interflux-light-blue;
$hyperlink-color-hover: lighten($lmpa-orange, 0.1);
$error-red: #ff7f7f;
