$nunito-sans-extra-light: 'Nunito Sans ExtraLight', sans-serif;
$nunito-sans-light: 'Nunito Sans Light', sans-serif;
$nunito-sans-regular: 'Nunito Sans Regular', sans-serif;
$nunito-sans-semibold: 'Nunito Sans SemiBold', sans-serif;
$nunito-sans-bold: 'Nunito Sans Bold', sans-serif;
$nunito-sans-extrabold: 'Nunito Sans ExtraBold', sans-serif;
$nunito-sans-black: 'Nunito Sans Black', sans-serif;
