$extra-light: 'Nunito Sans ExtraLight', sans-serif;
$light: 'Nunito Sans Light', sans-serif;
$regular: 'Nunito Sans Regular', sans-serif;
$semibold: 'Nunito Sans SemiBold', sans-serif;
$bold: 'Nunito Sans Bold', sans-serif;
$extrabold: 'Nunito Sans ExtraBold', sans-serif;
$black: 'Nunito Sans Black', sans-serif;
