main#products-index {
  background: $grey-0;
  @include widescreen {
  }
  @include desktop {
  }
  @include tablet {
    margin-top: 21vw; // TODO
  }
  @include mobile {
    margin-top: 21vw;
  }
  article {
    > .liner {
      max-width: 1100px;
      margin: 0 auto;
      @include widescreen {
        padding: px(2.5vw);
      }
      @include desktop {
        padding: 2.5vw;
      }
      @include tablet {
        padding: 0 0 10vw; // TODO
      }
      @include mobile {
        padding: 0 0 10vw;
      }
      > .box {
        background: white;
        box-shadow: 0 4px 8px rgba(black, 0.1);
        & + .box {
          margin-top: 30px;
        }
        > section {
          border-bottom: 1px solid $grey-1;
          @include widescreen {
            padding: px(5vw);
          }
          @include desktop {
            padding: 5vw;
          }
          @include tablet {
            padding: 18vw 6vw; // TODO
          }
          @include mobile {
            padding: 18vw 6vw;
          }
          > a {
            display: flex;
            @include tablet {
              flex-flow: wrap;
            }
            @include mobile {
              flex-flow: wrap;
            }
            &:focus,
            &:hover {
              outline: 2px solid orange;
              outline-offset: 5px;
            }
            > figure,
            > .cta {
              background: $grey-0;
              display: flex;
              justify-content: center;
              align-items: center;
              outline: 2px solid white;
              @include widescreen {
                width: px(16.333vw);
                height: px(16.333vw);
              }
              @include desktop {
                width: 16.333vw;
                height: 16.333vw;
              }
              @include tablet {
                width: 50%;
                height: 50%;
              }
              @include mobile {
                width: 50%;
                height: 50%;
              }
            }
            .cta {
              @include tablet {
                background: none;
                width: 100%; // TODO
                margin-top: 4vw; // TODO
              }
              @include mobile {
                background: none;
                width: 100%;
                margin-top: 4vw;
              }
              p.button {
                background: $green-1;
                color: white;
                font-family: $semibold;
                font-size: 20px;
                border-radius: 3px;
                line-height: 44px;
                padding: 1px 20px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                @include tablet {
                  width: 100%;
                }
                @include mobile {
                  width: 100%;
                }
                &:hover {
                  background: $green-2;
                }
                svg {
                  width: 10px;
                  height: auto;
                  margin-left: 15px;
                  [fill] {
                    fill: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  h1 {
    font-family: $extrabold;
    border-bottom: 1px solid $grey-1;
    color: $blue-3;
    @include widescreen {
      line-height: 100%;
      font-size: px(3vw);
      padding: px(5vw);
    }
    @include desktop {
      line-height: 100%;
      font-size: 3vw;
      padding: 5vw;
    }
    @include tablet {
      line-height: 120%;
      font-size: 10vw; // TODO
      padding: 18vw 6vw; // TODO
    }
    @include mobile {
      line-height: 120%;
      font-size: 12vw;
      padding: 18vw 6vw;
    }
    small {
      font-family: $regular;
      font-size: 75%;
      @include tablet {
        display: block;
      }
      @include mobile {
        display: block;
      }
    }
  }
  h2 {
    font-family: $light;
    color: $grey-7;
    @include widescreen {
      line-height: 100%;
      font-size: px(2.5vw);
      margin-bottom: px(2.5vw);
    }
    @include desktop {
      line-height: 100%;
      font-size: 2.5vw;
      margin-bottom: 2.5vw;
    }
    @include tablet {
      line-height: 120%;
      font-size: 10vw; // TODO
      margin-bottom: 9vw; // TODO
    }
    @include mobile {
      line-height: 120%;
      font-size: 9vw;
      margin-bottom: 9vw;
    }
  }
}
