figure.responsive-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden; // To hide alt text from breaking out of the <figure> frame
  background: #eee;
  &.portrait {
    height: 100%;
    width: auto;
    picture {
      height: 100%;
      width: auto;
      img {
        height: 100%;
        width: auto;
      }
    }
  }
  picture {
    display: block;
    width: 100%;
    img {
      display: block;
      width: 100%;
      height: auto;
      font-size: 1px; // To prevent the alt text from showing if load failed
    }
  }
  .loading,
  .error {
    position: absolute;
    left: 0;
    top: 0;
    background: #eee;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .error {
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: auto;
      opacity: 0.06;
      filter: grayscale(1);
    }
  }
}
