.tag {
  position: relative;
  &.blue {
    .bg {
      .word {
        color: $blue-3;
        &:after {
          background-color: $blue-3;
        }
      }
    }
  }
  &.orange {
    .bg {
      .word {
        color: $orange-2;
        &:after {
          background-color: $orange-2;
        }
      }
    }
  }
  .p {
    color: white;
    font-family: $bold;
    nobr {
      display: flex;
    }
  }
  .text {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
  }
  .bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    .word {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -8px;
        right: -8px;
      }
    }
  }
}
