footer {
  background-image: url('#{$cdn}/images/public/footer-bg.png');
  background-size: 100% auto;
  background-position: center 70%;
  background-attachment: fixed;
  padding: 90px 30px 30px;
  display: flex;
  justify-content: center;
  .liner {
    display: flex;
    box-sizing: border-box;
    background: radial-gradient(ellipse at right top, #{$blue-3}, #{$blue-5});
    max-width: 1200px;
    width: 100%;
    gap: 50px;
    padding: 46px 50px;
  }
  .logo {
    width: 300px;
    height: auto;
    grid-area: logo;
  }
  .languages {
    flex: 1;
  }
  .products {
    flex: 1;
  }
  .more {
    flex: 1;
  }
  .right-edge {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a,
    p,
    h3 {
      text-align: right;
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .social {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 4px;
        a {
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 300ms $easeOutExpo;
          transition-property: transform, width;
          &:hover,
          &:focus {
            transform: scale(1.5);
            width: 48px;
          }
        }
      }
    }
    .legal {
      p + p {
        margin: 0;
      }
    }
  }
  h3 {
    color: white;
    margin-bottom: 20px;
  }
  a {
    color: white;
    text-decoration: none;
    line-height: 200%;
    display: flex;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  p {
    color: white;
    text-align: right;
  }
}
