#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  &.no-scroll {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  header,
  nav#breadcrumbs,
  main,
  footer {
    flex-shrink: 0;
  }
  .spacer {
    height: 100%;
  }
}
