.icon-duo {
  display: flex;
  justify-content: center;
  align-items: center;
  picture {
    height: auto;
    @include widescreen {
      width: px(5vw);
    }
    @include desktop {
      width: 5vw;
    }
    @include tablet {
      width: 9.5vw;
    }
    @include mobile {
      width: 17vw;
    }
  }
  p {
    @include widescreen {
      margin: 0 px(1.3vw);
    }
    @include desktop {
      margin: 0 1.3vw;
    }
    @include tablet {
      margin: 0 2vw;
    }
    @include mobile {
      margin: 0 4vw;
    }
  }
}
