#partners-map {
  position: relative;
  min-height: 100vh;
  background: $blue-3;
  padding: 30px;
  #mapbox {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  #markers {
    display: none;
  }
  h1 {
    font-family: $extrabold;
    font-size: 26px;
    line-height: 100%;
    color: white;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
  }
}
