// These button-base styles are inherited by all buttons.
// Reuse these classes as much as possible.
// Resist styling buttons per component, instead extend this base.

a,
button {
  &.button-base {
    position: relative;
    display: inline-block;
    background: none;
    border: 0;
    outline: 0 !important;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;

    // Do not set these here, use classes instead
    // font-family: 'Lato-Black';
    // font-size: 18px;
    // line-height: 48px;
    // padding: 0 28px;
    // border-radius: 4px;

    &.big {
      font-family: 'Lato-Black';
      font-size: 18px;
      line-height: 48px;
      padding: 0 28px;
      border-radius: 4px;
      span {
        margin: 0 4px;
      }
    }

    &.medium {
      font-family: 'Lato-Black';
      font-size: 15px;
      line-height: 40px;
      padding: 0 20px;
      border-radius: 3px;
      span {
        margin: 0 4px;
      }
    }

    &.small {
      padding: 0 6px;
      line-height: 24px;
      font-family: 'Lato-Regular';
      font-size: 14px;
      border-radius: 2px;
      span {
        margin: 0 4px;
      }
    }

    &.white-border {
      color: white;
      border: 2px solid white;
      &:focus,
      &:hover {
        background: rgba(white, 0.4);
      }
    }

    &.grey-border {
      color: lighten(black, 50%);
      border: 2px solid #ddd;
      &:focus,
      &:hover {
        color: $interflux-light-blue;
        border-color: $interflux-light-blue;
      }
    }

    // Has dark blue background and white letters.
    // Used on $interflux-blue backgrounds.
    &.dark-blue {
      background: $interflux-blue-darker;
      color: white;
      &.active,
      &.busy,
      &:hover {
        background: $interflux-blue-lighter;
      }
    }

    &.orange {
      background: $lmpa-orange;
      color: white;
      &.active,
      &.busy,
      &:hover {
        background: lighten($lmpa-orange, 10%);
      }
    }

    &.orange-link {
      color: $lmpa-orange;
      text-decoration: underline;
      padding: 0;
      &:hover {
        text-decoration: none;
      }
      span {
        margin: 0;
      }
    }
  }
}
