<h1>Academy</h1>

<p>Soldering electronics is complex!</p>
<p>It requires you to balances your understanding of chemistry, metalurgy, electronics, engineering, machinery, personel and business.</p>
<p>With over 40 years of researching and developing chemistry for electronics, with over 40 years of visiting factories and solving inumerable problems, we have gathered rich know-how on how to, not just solder electronics, but solder them well!</p>
<p>Let us teach you.</p>
<hr>
<h3>Basics</h3>
<ul>
  <li>
    <a href="#">What are electronics?</a>
  </li>
  <li>
    <a href="#">What is soldering?</a>
  </li>
  <li>
    <a href="#">Why is soldering so hard?</a>
  </li>
</ul>
<hr>
<h3>Techniques</h3>
<ul>
  <li>
    <a href="#">Wave Soldering</a>
  </li>
  <li>
    <a href="#">Selective Soldering</a>
  </li>
  <li>
    <a href="#">Reflow Soldering</a>
  </li>
  <li>
    <a href="#">Hand Soldering</a>
  </li>
  <li>
    <a href="#">Show more ...</a>
  </li>
</ul>
<hr>
<h3>Signs of problems</h3>
<ul>
  <li>
    <a href="#">Soldering balls</a>
  </li>
  <li>
    <a href="#">Residue</a>
  </li>
  <li>
    <a href="#">Warping</a>
  </li>
  <li>
    <a href="#">Show more ...</a>
  </li>
</ul>
<hr>
<h3>Signs of quality</h3>
<ul>
  <li>
    <a href="#">Low temperature soldering</a>
  </li>
  <li>
    <a href="#">No residue</a>
  </li>
  <li>
    <a href="#">Halide-free soldering</a>
  </li>
  <li>
    <a href="#">Lead-free soldering</a>
  </li>
  <li>
    <a href="#">Show more ...</a>
  </li>
</ul>
<hr>
<h3>Research</h3>
<ul>
  <li>
    <a href="#">Shock tests</a>
  </li>
  <li>
    <a href="#">Corrosion tests</a>
  </li>
  <li>
    <a href="#">IPC standards</a>
  </li>
  <li>
    <a href="#">High reliability</a>
  </li>
  <li>
    <a href="#">Show more ...</a>
  </li>
</ul>

{{outlet}}