<div id="app">

  <img
    src="https://cdn.interflux.com/images/logos/secondary-interflux-electronics-logo-2.svg"
    width="200"
    height="200"
    alt="Interflux Electronics logo"
  >

  {{outlet}}

</div>