<h1>Ask Interflux</h1>

<a href="mailto:ask@interflux.com">ask@interflux.com</a>

<h3>How can we help?</h3>
<p>I have a question about:</p>
<ul>
  <li>
    <a href="#">a product</a>
  </li>
  <li>
    <a href="#">an order</a>
  </li>
  <li>
    <a href="#">technical issue</a>
  </li>
  <li>
    <a href="#">something else</a>
  </li>
</ul>

<p>I need:</p>
<ul>
  <li>
    <a href="#">Technical support (urgent)</a>
  </li>
  <li>
    <a href="#">a Technical Data Sheet (TDS)</a>
  </li>
  <li>
    <a href="#">a Safety Data Sheet (SDS)</a>
  </li>
  <li>
    <a href="#">something else</a>
  </li>
</ul>

{{outlet}}