<nav>
  <ul>
    <li>
      <LinkTo @route='products'>
        <em>Products</em>
        <span>Browse our products</span>
      </LinkTo>
    </li>
    <li>
      <LinkTo @route='feed'>
        <em>Feed</em>
        <span>Latest developments in electronics</span>
      </LinkTo>
    </li>
    <li>
      <LinkTo @route='academy'>
        <em>Academy</em>
        <span>Solder electronic, even better!</span>
      </LinkTo>
    </li>
    <li>
      <LinkTo @route='contact'>
        <em>Ask Interflux</em>
        <span>We're helpful</span>
      </LinkTo>
    </li>
  </ul>
</nav>

{{outlet}}