<nav>
  <ul>
    <li>
      <LinkTo @route="index">Back</LinkTo>
    </li>
  </ul>
</nav>

<h1>Orders</h1>
<hr>
<h3>Pending orders</h3>
<p>#4</p>
<p>Status: in transit</p>
<p>ETA: in 2 days</p>
<hr>
<h3>Past orders</h3>
<p>#3</p>
<p>Order again</p>
<p>#2</p>
<p>Order again</p>
<p>#1</p>
<p>Order again</p>

{{outlet}}