<nav>
  <ul>
    <li>
      <LinkTo @route="index">Back</LinkTo>
    </li>
  </ul>
</nav>

<h1>Products</h1>

<ul>
  {{#each model.products as |product|}}
    <li>
      <p>{{product.name}}</p>
      <p>{{product.pitch}}</p>
    </li>
  {{/each}}
</ul>

{{outlet}}